.profile-info {
	padding-top: 80px;


	&__inner {
		max-width: 850px;
		width: 100%;
		min-width: 200px;
		padding-bottom: 30px;
	}
}


@media @tablet-album {
	.profile-info {
		padding-top: 60px;

		&__inner {
			width: 725px;
		}
	}
}



@media @tablet-under {
	.profile-info {
		padding-top: 20px;


		&__inner {
			width: 200px;
			height: auto;
		}
	}
}