.profile-password-item {
	position: absolute;
	top: 0;


	&:before {
		position: absolute;
		left: -25px;

		display: block;
		width: 25px;
		height: 30px;

		text-align: center;
		font: 400 10px/30px 'Circe';
		color: #666;
	}


	&--old {
		left: 25px;


		&:before {
			content: '1';
		}
	}


	&--new {
		left: 275px;


		&:before {
			content: '2';
		}
	}


	&--new-repeat {
		left: 275px;
		top: 55px;


		&:before {
			content: '3';
		}
	}


	&:nth-child(4) {

	}


	&:hover {


		.profile-password-field-ico {
			border-color: #d1d1d1;
		}


		.profile-password-field {
			border-color: #d1d1d1;
		}
	}
}



@media @tablet-under {
	.profile-password-item {
		&--old {
			left: 0;
		}


		&--new {
			top: 55px;
			left: 0;
		}


		&--new-repeat {
			top: 110px;
			left: 0;
		}
	}
}