.profile-info-form {


	&__group {
		float: left;
		width: 425px;
	}
}


@media @tablet-album {
	.profile-info-form {


		&__group {
			width: 400px;


			&:nth-child(2) {
				width: 325px;
			}
		}
	}
}


@media @tablet-under {
	.profile-info-form {


		&__group {
			float: none;
			width: 200px;
		}
	}
}