.profile-password-form {
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -237.5px;

	display: block;
	width: 475px;
}


@media @tablet-under {
	.profile-password-form {
		width: 200px;
		margin-left: -100px;
	}
}