.profile-password-field {}



.profile-password-field-ico {
	display: inline-block;
	width: 30px;
	height: 30px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: url(@img-sprite-ucab-icos-2) -1px -241px no-repeat;
	border: 1px solid #e2dedf;
	border-radius: 4px 0 0 4px;
	
	position: absolute;
}

.profile-password-field--validate,
.profile-password-field {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 30px;
	padding: 3px 5px 3px 35px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #fefefe;
	border: 1px solid #e2dedf;
	border-radius: 2px;
	outline: none;

	font: 300 10px/20px 'Circe';
	// из-за Circe Light получаются мелкие ****, когда пароль вводишь, зато работает нормально с Arial, значки **** отображаются крупно, как и должны
	color: #666;
}



.profile-password-field::-webkit-input-placeholder { font-size: 10px; line-height: 24px; }
.profile-password-field::-moz-placeholder          { font-size: 10px; line-height: 24px; }/* Firefox 19+ */
.profile-password-field:-moz-placeholder           { font-size: 10px; line-height: 24px; }/* Firefox 18- */
.profile-password-field:-ms-input-placeholder      { font-size: 10px; line-height: 24px; }

.profile-password-field--validate::-webkit-input-placeholder { color: #666; }
.profile-password-field--validate::-moz-placeholder { color: #666; }
.profile-password-field--validate:-moz-placeholder { color: #666; }
.profile-password-field--validate:-ms-input-placeholder { color: #666; }