/*
	grid.less/grid.css - это подключаемый файл(не @import, не коллекция сниппетов), идёт в самом начале стека css-файлов

	Здесь базовая сетка, 
	колонки контента,
	основная "геометрия" для всех страниц сайта
*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*
	-1--
	"SECTIONS"

	Базовая сетка, на основе которой 
	строятся страницы проекта.
	
	Свойства данных селекторов 
	и точек "адаптива" для них, 
	НЕЛЬЗЯ изменять, добавлять, 
	переопределять.
	
	В других, кроме текущего,
	CSS/LESS-файлах данные селекторы 
	не используются и их свойства 
	не переписываются и не добавляются(ЭТО ВАЖНО).
*/
.section {
	width: 100%;
	position: relative;
}
.section__inner {
	width: 100%;
	max-width: 1000px;
	min-width: 300px;
	margin: 0 auto;
	position: relative;
}
.section__inner:before,
.section__inner:after {
	content: " ";
	display: table;
}
.section__inner:after {
	clear: both;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.section__inner { width: 750px; }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
	.section__inner { width: 620px; }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
	.section__inner { width: 460px; }
}
@media screen and (max-width: 479px) {
	.section__inner { width: 300px; }
}
/* END-of-"SECTIONS" */