/*
	ЗНАЧЕНИЯ
	ТОЧЕК
	СЛОМА
*/

@desktop-min: 1025px;

/* TABLET ALBUM */
@tablet_a-min: 768px;
@tablet_a-max: (@desktop-min - 1);

/* TABLET PORTRAIT */
@tablet_p-min: 640px;
@tablet_p-max: (@tablet_a-min - 1);

/* MOBILE ALBUM */
@mobile_a-min: 480px;
@mobile_a-max: (@tablet_p-min - 1);

/* MOBILE PORTRAIT */
/*@mobile_p-min: px;*/
@mobile_p-max: (@mobile_a-min - 1);