/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/

.f-clight(@fsize, @lheight, @color) { font: @fsize/@lheight 'Circe-Light'; color: @color; }
.f-cregular(@fsize, @lheight, @color) { font: @fsize/@lheight 'Circe-Regular'; color: @color; }
.f-cbold(@fsize, @lheight, @color) { font: @fsize/@lheight 'Circe-Bold'; color: @color; }