/*
	images
*/
@img: '../img';
@img-sprite: '@{img}/sprites';
@img-sprite-header_20x20: '@{img-sprite}/sprite__header-icons_20x20.png';
@img-long-shadow: '@{img}/long_horiz_shadow.png';


/*
	fonts
*/
/*@global-fonts-path: 'http://zoloto585.ru/bitrix/templates/zoloto/css/fonts/';*/
@fonts-path: '../fonts/';