/*	=================================
	=================================
	=====                       =====
	=====  ПОДКЛЮЧЕНИЕ ШРИФТОВ  =====
	=====                       =====
	=================================
	=================================
*/
@global-fonts-path: 'http://zoloto585.ru/bitrix/templates/zoloto/css/fonts/';
@local-fonts-path: '../fonts/';
@default-fonts-path: @local-fonts-path;

.set_font_face(@font-family, @font-file, @font-path: @default-fonts-path, @font-weight: normal, @font-style: normal) {
	@font-face {
		font-family: @font-family;
		src: url('@{font-path}@{font-file}.eot');
		src: local('Circe-Regular'),
			 url('@{font-path}@{font-file}.woff') format('woff'),
			 url('@{font-path}@{font-file}.ttf') format('truetype'),
			 url('@{font-path}@{font-file}.svg') format('svg');
		font-weight: @font-weight;
		font-style: @font-style;
	}
}

.set_font_face('Circe-Regular', 'Circe-Regular');
.set_font_face('Circe-Light', 'Circe-Light');
.set_font_face('Circe-Bold', 'Circe-Bold');