.section--left_offset_for_nav {
	padding-left: 300px;
	overflow: hidden;
}

.top-nav {
	display: none;

	background-color: #ed3030;

	&--active {
		display: block;
	}

	&__inner {
		display: block;
		height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-top: 45px;
		padding-bottom: 70px;
		overflow: auto;
	}

	&__button {
		position: relative;

		display: block;
		height: 45px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 15px;

		background-color: #ed3030;

		text-transform: uppercase;
		.font-circerou_regular(11px, 45px, #fff);

		cursor: pointer;

		&:after {
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -10px;

			content: '';

			display: block;
			width: 20px;
			height: 20px;

			background: transparent url(@img-sprite-header_20x20) 0 -180px no-repeat;
		}

		&--active {
			&:after {
				-ms-background-position-x: -20px;
				background-position-x: -20px;
			}
		}
	}

	&__list {
		list-style: none;

		/*display: none;*/
		display: block;
		height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;

		background-color: #8a2226;
		border-top: 1px solid #da252c;
		border-bottom: 1px solid #fb3036;

		&--active {
			/*display: block;*/
			height: auto;
		}
	}

	&__item {
		display: block;
		height: 45px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		border-top: 1px solid #97292d;
		border-bottom: 1px solid #7a1e21;

		a {
			display: block;
			height: 100%;
			margin: 0 auto;
			padding: 0 15px;

			text-decoration: none;
			.font-circerou_regular(11px, 45px, #fff);
		}

		&--active {}
	}

	&--position_fixed {
		position: fixed;
		/*top: 45px;*/
		top: 0;
		left: 0;
		z-index: 9999;

		height: 100%;
		width: 300px;

		.top-nav__button {
			width: 100%;
		}
	}
}

/* DESKTOP */
@media screen and (min-width: @desktop-min) {
	.top-nav {
		display: none;

		&--active {
			display: none;
		}
	}
}
/*@tablet Album*/
@media screen and (min-width: @tablet_a-min) and (max-width: @tablet_a-max) {

	/*выравнивание "внутренностей" меню*/
	@inner-width: 750px;
	.top-nav {
		&__button {
			width: @inner-width;
		}

		&__item a {
			width: @inner-width;
		}
	}
}
/*@tablet Portrait*/
@media screen and (min-width: @tablet_p-min) and (max-width: @tablet_p-max) {
	/*выравнивание "внутренностей" меню*/
		@inner-width: 620px;
		.top-nav {
			&__button {
				width: @inner-width;
			}

			&__item a {
				width: @inner-width;
			}
		}
}
/*@mobile Album*/
@media screen and (min-width: @mobile_a-min) and (max-width: @mobile_a-max) {
	/*выравнивание "внутренностей" меню*/
		@inner-width: 460px;
		.top-nav {
			&__button {
				width: @inner-width;
			}

			&__item a {
				width: @inner-width;
			}
		}
}
/*@mobile Portrait*/
@media screen and (max-width: @mobile_p-max) {
	/*выравнивание "внутренностей" меню*/
		@inner-width: 300px;
		.top-nav {
			&__button {
				width: @inner-width;
			}

			&__item a {
				width: @inner-width;
			}
		}
}