.s-top {
	height: 45px;

	background-color: #e61725;
	border-bottom: 1px solid #eaeaea;
}

.s-logo {
	height: 55px;

	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #cfcfcf;
}

@media screen and (max-width: @tablet_a-max) {
	.s-logo {
		/*background-color: #ff0000;*/
	}

	.s-top__inner {
		background-color: #000;
		height: 100%;
	}
}