/* нулевой уровень вложенности элементов каталога */
.main-nav {

	&__header {}

	&__list {}

	&__item {}

	&__link {}
}



/* первый уровень вложенности элементов каталога */
.main-nav-level-1 {

	&__header {}

	&__list {}

	&__item {}

	&__link {}
}



/* второй уровень вложенности элементов каталога */
.main-nav-level-2 {

	&__header {}

	&__list {}

	&__item {}

	&__link {}
}






/* DESKTOP */
@media screen and (min-width: @desktop-min) {
	/* нулевой уровень вложенности элементов каталога */
	.main-nav {
		display: none;

		&__header {}

		&__list {}

		&__item {}

		&__link {}
	}



	/* первый уровень вложенности элементов каталога */
	.main-nav-level-1 {

		&__header {}

		&__list {}

		&__item {}

		&__link {}
	}



	/* второй уровень вложенности элементов каталога */
	.main-nav-level-2 {

		&__header {}

		&__list {}

		&__item {}

		&__link {}
	}

}





/* TOUCH */
@media screen and (max-width: @tablet_a-max) {
	.main-nav,
	.main-nav-level-1 {
		&__link { display: none; }
	}

	.main-nav,
	.main-nav-level-1,
	.main-nav-level-2 {
		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
			display: block;
		}
	}

	.main-nav {

		&__header {
			position: fixed;
			top: 0;
		}

		&__list {}

		&__item {}

		&__link {}
	}


	.main-nav-level-1 {

		&__header {
			position: relative;

			display: block;
			height: 45px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0 auto;
			padding: 0 10px;

			background-color: #ed3030;

			text-transform: uppercase;
			.font-circerou_regular(12px, 46px, #fff);

			cursor: pointer;

			&:after {
				position: absolute;
				top: 50%;
				right: 15px;
				margin-top: -10px;

				content: '';

				display: block;
				width: 20px;
				height: 20px;

				background: transparent url(@img-sprite-header_20x20) 0 -180px no-repeat;
			}

			&--active {
				&:after {
					-ms-background-position-x: -20px;
					background-position-x: -20px;
				}
			}
		}

		&__list {
			list-style: none;

			/*display: none;*/
			display: block;
			height: 0;
			overflow: hidden;
			margin: 0;
			padding: 0;

			background-color: #c2332f;
			border-top: 1px solid #dc2a2b;
			border-bottom: 1px solid #fb3535;

			&--active {
				/*display: block;*/
				height: auto;
				/*width: 280px;*/
			}
		}

		&__item {
			border-bottom: 1px solid #8f2d2a;
			border-top: 1px solid #d0433f;
		}

		&__link {
			&--all-items {
				display: block;
				height: 45px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 0 15px;
				overflow: hidden;

				text-decoration: none;
				text-transform: uppercase;
				.font-circerou_regular(10px, 45px, #fff);
			}
		}
	}


	.main-nav-level-2 {
		/* border-bottom: 1px solid #8f2d2a;
		border-top: 1px solid #d0433f; */

		&__header {
			display: block;
			height: 45px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0 10px 0 20px;

			text-decoration: none;
			text-transform: uppercase;
			.font-circerou_regular(10px, 45px, #fff);

			cursor: pointer;

			&--active {
				border-bottom: 1px solid #d0433f;
			}
		}

		&__list {
			/*height: 0;*/
			display: none;
			background-color: #c53e3a;
			border-top: 1px solid #8f2d2a;
			/*border-bottom: 1px solid #8f2d2a;*/


			&--active {
				/*height: auto;*/
				display: block;
			}
		}

		&__item {
			display: block;
			height: 45px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			border-top: 1px solid #d0433f;
			border-bottom: 1px solid #b33b37;

			&--first-item,
			&:first-child {
				border-top: 1px solid #af3733;
			}

			&--last-item,
			&:last-child {
				border-bottom: 1px solid #af3733;
			}
		}

		&__link {
			display: block;
			height: 100%;
			margin: 0 auto;
			padding: 0 10px 0 20px;

			text-decoration: none;
			.font-circerou_regular(11px, 45px, #fff);
		}
	}

}