/*
	задача была связана с вёрсткой нового каталога для тачверсии
	скрытие предыдущей навигации на тачверсии

	этот костыль скрывет
	скрывает некотрые элементы шапки и те элементы, котрых не должно быть видно на тач-версии(< 1024)
*/
/* TOUCH */
@media @touch {
	.h-touch-hidden {
		display: none;
	}
	.nav-wrap {
		display: none;
	}
}


/*
	ECOM-1167
	скрыть пункт "КОЛЛЕКЦИИ" у старого меню
*/
.collection-li {
	display: none;
}


/* проблемы с фильтром в каталоге */
.filter-section {
	width: 100%;
}