@media (max-width: 749px) {
	#main-sl .owl-controls {
	    position: relative;
	    height: 60px;
	    background: #fff;
	    width: 100%;
	    border-top: 1px solid #cccbca;
	    border-bottom: 1px solid #cccbca;
	}
	#main-sl .owl-pagination {
	    bottom: 23px;
	}
	#main-sl .owl-pagination .owl-page {
	    position: relative;
	    z-index: 5;
	}
	#main-sl .owl-buttons {
	    top: auto;
	    margin-top: 0;
	    bottom: 50px;
	}
	#main-sl .owl-buttons div {
	    width: 40px;
	    height: 40px;
	    background-size: 80px 80px;
	}
}