/*"top-shops"*/
.top-shops {
	width: 125px;

	font-size: 0;

	a {
		display: inline-block;
		width: 100%;
		height: 31px;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		.font-circe_light(10px, 32px, #fff);

		cursor: pointer;

		&:hover {
			background-color: #cb2430;
		}
	}
}



/*
	TOUCH
*/
@media screen and (max-width: @tablet_a-max) {
	.top-shops { display: none; }
}
/*
	"top-shops";end





*/