
.top-phone,
.top-favorites,
.top-bonuses,
.top-user,
.top-lombards,
.top-address {
	position: relative;

	display: inline-block;
	vertical-align: top;
	height: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	text-decoration: none;
	text-transform: uppercase;
	.font-circe_light(11px, 47px, #fff);

	cursor: pointer;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;

		content: '';

		display: block;
		width: 20px;
		height: 20px;
		background: transparent url(@img-sprite-header_20x20) 0 0 no-repeat;
	}
}

.top-phone {
	width: 150px;
	margin: 0 150px;
	padding-left: 40px;

	.font-helvn_light(15px, 45px, #fff);

	&:before {
		left: 0;
		margin-left: 4px;
		-ms-background-position-y: -42px;
		background-position-y: -42px;
	}
}

.top-favorites {
	width: 50px;
	padding-left: 25px;

	text-align: center;

	&:before {
		margin-left: -22px;

		-ms-background-position-y: -60px;
		background-position-y: -60px;
	}
}
.top-bonuses {
	width: 75px;
	padding-left: 25px;

	&:before {
		left: 13px;

		-ms-background-position-y: -80px;
		background-position-y: -80px;
	}
}
.top-user {
	width: 70px;

	&:before {
		left: 27px;

		width: 50%;

		-ms-background-position-y: -100px;
		background-position-y: -100px;
	}

	&:after {
		position: absolute;
		top: 50%;
		right: 5px;
		margin-top: -10px;

		content: '';

		display: block;
		width: 20px;
		height: 20px;
		background: transparent url(@img-sprite-header_20x20) -20px -120px no-repeat;
	}

	&--logged {
		&:after {
			background-position: 0 -120px;
		}
	}
}




/*
	DESKTOP
*/
@media screen and (min-width: @desktop-min) {


	.header-top-bonuses { display: none; }


	.header-top-lombards,
	.header-top-address,
	.header-top-user {
		&:hover {
			background-color: #cb2430;
		}
	}

	.header-top-geo,
	.header-top-address {
		width: 125px;
	}
	.header-top-user {
		width: 150px;
	}
	.header-top-favorites {
		width: 50px;
	}


	.top-lombards,
	.top-address,
	
	.top-user {
		width: 100%;
		font-size: 10px;

		&:hover {
			background-color: #cb2430;
		}
	}

	.top-lombards,
	.top-address,
	
	.top-phone,
	.top-favorites,
	.top-bonuses,
	.top-user {
		height: 31px;
		line-height: 32px;
	}

	.top-phone {
		margin: 0;
		font-size: 14px;
	}

	.top-user {
		width: 150px;

		text-align: center;
		font-size: 10px;

		&:before {
			left: 20px;
		}
	}
}






/*
	TOUCH
*/
@media screen and (max-width: @tablet_a-max) {
	.top-address {display: none;}


	.header-top-geo { width: 50px; }
	

	
	.top-phone,
	.top-favorites,
	.top-bonuses,
	.top-user, {
		height: 44px;
	}

	
	.top-user {
		font-size: 0;
	}
}
/*@tablet Album*/
@media screen and (min-width: @tablet_a-min) and (max-width: @tablet_a-max) {

}
/*@tablet Portrait*/
@media screen and (min-width: @tablet_p-min) and (max-width: @tablet_p-max) {
	.top-phone {
		width: 150px;
		margin-left: 100px;
		margin-right: 75px;
		padding-left: 40px;
	}
}

/*@mobile Album*/
@media screen and (min-width: @mobile_a-min) and (max-width: @mobile_a-max) {
	.top-phone {
		width: 143px;
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 30px;

		&:before {
			margin-left: 0;
		}
	}

	.top-user {
		width: 60px;

		&:before {
			left: 20px;
		}
	}
}

/*@mobile Portrait*/
@media screen and (max-width: @mobile_p-max) {
	
	.top-phone,
	.top-favorites,
	.top-bonuses,
	.top-user {
		width: 47px;
		margin: 0;
		padding: 0;
		font-size: 0;

		&:before {
			top: 50%;
			left: 50%;
			margin-top: -10px;
			margin-left: -10px;
		}
	}

	.top-user {
		&:before {
			left: 13px;
		}
		&:after {
			right: 0;
		}
	}
}
