.ucab-recform-field {
	display: block;
	width: 200px;
	height: 30px;



	@media @mobile {
		
	}


	.form-textline__icon {
		width: 30px;

		border-right: 0;


		&:before {
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background: #fff url(@img-sprite-ucab-icos) -30px -119px no-repeat;
		}
	}
}