.ucab-login-form {
	position: absolute;
	top: 120px;
	left: 50%;

	margin-left: -100px;

	display: block;
	width: 200px;
	height: 185px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


	@media @mobile-portrait {
		top: 60px;
	}
}