.infoblock {
	padding: 55px 0;
	background-color: #f9f9fb;
}
@media @desktop {
	.infoblock {
		/*background: url(@img-thingies-infoblock) center top no-repeat;*/
	}
}
@media (max-width: 999px) {
	.infoblock {
		/*background: url('/bitrix/templates/zoloto/images/bg_0.jpg') left top repeat;*/
	}
}
@media (max-width: 749px) {
	.infoblock {
		/*background: url('/bitrix/templates/zoloto/images/bg_0.jpg') left top repeat;*/
	}
}
@media (max-width: 619px) {
	.infoblock {
		/*background: url('/bitrix/templates/zoloto/images/bg_0.jpg') left top repeat;*/
		padding-bottom: 25px;
	}
}
@media (max-width: 479px) {
	.infoblock {
		padding-bottom: 0;
	}
}