.sl-desc {
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
@media screen and (max-width: 1024px) {
/* коэфф. уменьшения для картинки (1920x400)*0.7 = 1344x280 */
	.sl-desc {
		height: 280px;
		width: 1344px;
		margin-left: -672px;
	}
}
@media screen and (max-width: 767px) {
	/* коэфф. уменьшения для картинки (1920x400)*0.58 = 1344x230 */
	.sl-desc {
		height: 230px;
		width: 1113px;
		margin-left: -556.5px;
	}
}