.-catalog-builder- .section { margin-top: 50px; }
.-catalog-builder- .section { background-color: #eee; }
.-catalog-builder- .section__inner {
	padding: 15px 0;

	background-color: #fff;
	border-top: 1px dashed #ff5555;
	border-bottom: 1px dashed #ff5555;
}
.-catalog-builder- {}
.-catalog-builder- {}