.ucab-tab {
	display: none;
	height: 40px;

	background: #ed3030 url(@img-sprite-ucab-plus-minus) right 0 no-repeat;
	border-top: 1px solid #fb3535;
	border-bottom: 1px solid #db2a2a;

	text-align: left;
	text-transform: uppercase;
	font: 400 11px/40px 'Circe';
	color: #fff;

	cursor: pointer;


	&--active {
		background-position: right -44px;
	}


	&__inner {

	}
}



@media @mobile {
	.ucab-tab {
		display: block;


		&__inner {
			width: 100%;
			padding-left: 20px;
		}
	}
}