.bonuses-card-add-input {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 35px 0 8px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #fff;
	border: 1px solid #e0ddde;
	border-radius: 2px;
	outline: none;

	text-align: left;
	text-transform: uppercase;
	font: 300 11px/30px 'Circe';
	color: #303030;

}