.favorites-list {


	&__inner {
		padding-top: 10px;
		padding-bottom: 30px;
		font-size: 0;


		@media @desktop {
			padding-top: 27px;
		}


		@media @touch {
			padding-top: 15px;
		}


		@media @touch-between {
			width: 465px;
		}


		@media @mobile-portrait {
			text-align: center;
		}
	}
}