.favorites-list {


	&__inner {
		padding-top: 10px;
		padding-bottom: 30px;
		font-size: 0;
	}
}






@media @touch {
	.favorites-list {


		&__inner {
			width: 100%;
			padding-top: 15px;

			text-align: center;
		}
	}
}



@media @desktop {
	.favorites-list {


		&__inner {
			padding-top: 27px;
			text-align: justify;
		}
	}
}