.order-button-to-getshop {
	height: 38px;
	width: 208px;
	margin-left: auto;
	margin-right: auto;
}


@media @desktop {
	.order-button-to-getshop {
		margin-top: 25px;
		width: 260px;
	}
}
@media @tablet {
	.order-button-to-getshop {
		margin-top: 58px;
		width: 260px;
	}
}


@media @mobile {
	.order-button-to-getshop {
		position: absolute;
		bottom: 0;

		width: 100%;
		height: 60px;
		border-radius: 0;

		line-height: 60px;
	}
}