/*
	КЛАССЫ-ХЭЛПЕРЫ
	ГЛОБАЛЬНОГО 
	ИСПОЛЬЗОВАНИЯ
*/


/* Обычный клеарфикс 
   http://nicolasgallagher.com/micro-clearfix-hack/
   */
.h-clearfix:before,
.h-clearfix:after {
	content: " ";
	display: table;
}
.h-clearfix:after {
	clear: both;
}




/**/
.h-hidden { display: none; }

/**/
.h-desktop-hidden {}

/**/
.h-touch-hidden {}

/**/
.h-tablet-hidden {}

/**/
.h-mobile-hidden {}


/* ... */