/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/

/*
	Circe
*/
.font-circe_light(@fsize, @lheight, @color) { font: 300 @fsize/@lheight 'Circe'; color: @color; }
.font-circe_regular(@fsize, @lheight, @color) { font: 400 @fsize/@lheight 'Circe'; color: @color; }
.font-circe_bold(@fsize, @lheight, @color) { font: 700 @fsize/@lheight 'Circe'; color: @color; }

/*
	Circe Rounded
*/
.font-circerou_regular(@fsize, @lheight, @color) { font: 400 @fsize/@lheight 'Circe Rounded'; color: @color; }


/*
	Helvetica Neue
*/
.font-helvn_light(@fsize, @lheight, @color) { font: 300 @fsize/@lheight 'Helvetica Neue'; color: @color; }
.font-helvn_bold(@fsize, @lheight, @color) { font: 700 @fsize/@lheight 'Helvetica Neue'; color: @color; }