/*
	SPRITES
	*******
	спрайты, много маленьких изображений склеенных в одну картинку
*/
@img-sprite-header_20x20: '@{img-sprites}/sprite__header-icons_20x20.png';

@img-sprite-form_37x35: '@{img-sprites}/sprite__form-icos_37x35.png';
@img-sprite-form_50x48: '@{img-sprites}/sprite__form-icos_50x48.png';

@img-sprite-pcard: '@{img-sprites}/pcard_icos_sprite.png';
@img-sprite-pcard_mob: '@{img-sprites}/pcard_icos_sprite__mob.png';
@img-sprite-pcard-order: '@{img-sprites}/pcard_order_sprite.png';

@img-sprite-socials-1: '@{img-sprites}/product-soc.png';

@img-sprite-catalog-filter: '@{img-sprites}/catalog_filter_sprite.png';
@img-sprite-catalog-filter-colors: '@{img-sprites}/sprite__filter-colors.png';

@img-sprite-promo-labels: '@{img-sprites}/sprite__promo-labels.png';

/* основной спрайт, который содержит много иконок */
@img-sprite-primary: '@{img-sprites}/sprite__primary-icon-set.png';

.img-sprite-primary-icon(@w, @h, @x, @y) {
	height: @h;
	width: @w;
	overflow: hidden;

	background: transparent url(@img-sprite-primary) @x @y no-repeat;
}
.primary-sprite-icon__1() {.img-sprite-primary-icon(20px, 20px, -25px, -59px);}
.primary-sprite-icon__2() {.img-sprite-primary-icon(43px, 29px, -60px, -53px);}
.primary-sprite-icon__3() {.img-sprite-primary-icon(30px, 29px, 0, -172px);}
.primary-sprite-icon__4() {.img-sprite-primary-icon(30px, 21px, -31px, -180px);}
.primary-sprite-icon__5() {.img-sprite-primary-icon(18px, 18px, -62px, -168px);}
.primary-sprite-icon__6() {.img-sprite-primary-icon(18px, 14px, -62px, -187px);}
.primary-sprite-icon__7() {.img-sprite-primary-icon(23px, 22px, 0, -204px);}
.primary-sprite-icon__8() {.img-sprite-primary-icon(18px, 12px, -42px, -142px);}

/* значкм с доставкой и т.п. в футере */
.primary-sprite-icon__9()  {.img-sprite-primary-icon(17px, 22px, 0, -145px);}
.primary-sprite-icon__10() {.img-sprite-primary-icon(23px, 23px, -17px, -144px);}
.primary-sprite-icon__11() {.img-sprite-primary-icon(33px, 12px, -40px, -155px);}
.primary-sprite-icon__12() {.img-sprite-primary-icon(27px, 25px, -73px, -142px);}

/* значки соц сетей в футере */
.primary-sprite-icon__13() {.img-sprite-primary-icon(26px, 26px, 0, -145px);}/* значения координат не верные */
.primary-sprite-icon__14() {.img-sprite-primary-icon(26px, 26px, 0, -145px);}
.primary-sprite-icon__15() {.img-sprite-primary-icon(26px, 26px, 0, -145px);}
.primary-sprite-icon__16() {.img-sprite-primary-icon(26px, 26px, 0, -145px);}
.primary-sprite-icon__17() {.img-sprite-primary-icon(26px, 26px, 0, -145px);}








/*
	PATTERNS
	********
	паттерны узоров/текстур, фоновые картинки не имеющие ярко выраженный смысл композиции
*/
@img-pattern-ribbons-1: '@{img-patterns}/pcard_ribbons.jpg';
@img-pattern-ribbons-2: '@{img-patterns}/pcard_ribbons_2.jpg';
/*@img-pattern-...*/





/*
	PRINTS
	******
	принты, большие фоны, иллюстрации, фотофоны, выражена композиция картинки
*/
@img-prints-small-1: '@{img-prints}/pcard_motivate__bg.jpg';

/* @img-prints-middle-1: '@{img-prints}/'; */

/*@img-prints-large-1: '@{img-prints}/';*/




/*
	THINGIES
	********
	тени, рюшечки, вензеля и т.п.
*/
@img-thingies-shadow-1: '@{img-thingies}/shadow-1.png';
@img-thingies-shadow-2: '@{img-thingies}/shadow-2.png';
@img-thingies-shadow-3: '@{img-thingies}/shadow-3.png';
@img-thingies-shadow-4: '@{img-thingies}/shadow-4.png';

@img-thingies-ribbon-1: '@{img-thingies}/ribbon-1.jpg';
@img-thingies-ribbon-2: '@{img-thingies}/ribbon-2.jpg';
@img-thingies-infoblock: '@{img-thingies}/infoblock_bg--50.jpg';




/*
	STUB
	****
	картинки для заглушки, в "прод" не идут
*/
