/*
	SPRITES
	*******
	спрайты, много маленьких изображений склеенных в одну картинку
*/
@img-sprite-header_20x20: '@{img-sprites}/sprite__header-icons_20x20.png';

@img-sprite-form_37x35: '@{img-sprites}/sprite__form-icos_37x35.png';
@img-sprite-form_50x48: '@{img-sprites}/sprite__form-icos_50x48.png';

@img-sprite-pcard: '@{img-sprites}/pcard_icos_sprite.png';
@img-sprite-pcard_mob: '@{img-sprites}/pcard_icos_sprite__mob.png';
@img-sprite-pcard-order: '@{img-sprites}/pcard_order_sprite.png';

@img-sprite-socials-1: '@{img-sprites}/product-soc.png';

@img-sprite-catalog-filter: '@{img-sprites}/catalog_filter_sprite.png';
@img-sprite-catalog-filter-colors: '@{img-sprites}/sprite__filter-colors.png';

@img-sprite-promo-labels: '@{img-sprites}/sprite__promo-labels.png';

/* основной спрайт, который содержит много иконок */
@img-sprite-primary: '@{img-sprites}/sprite__primary-icon-set.png';

.img-sprite-primary-icon(@w, @h, @x, @y) {
	height: @h;
	width: @w;
	overflow: hidden;

	background: transparent url(@img-sprite-primary) @x @y no-repeat;
}
.primary-sprite-icon__1() {.img-sprite-primary-icon(20px, 20px, -25px, -59px);}
.primary-sprite-icon__2() {.img-sprite-primary-icon(43px, 29px, -60px, -53px);}





/*
	PATTERNS
	********
	паттерны узоров/текстур, фоновые картинки не имеющие ярко выраженный смысл композиции
*/
@img-pattern-ribbons-1: '@{img-patterns}/pcard_ribbons.jpg';
@img-pattern-ribbons-2: '@{img-patterns}/pcard_ribbons_2.jpg';
/*@img-pattern-...*/





/*
	PRINTS
	******
	принты, большие фоны, иллюстрации, фотофоны, выражена композиция картинки
*/
@img-prints-small-1: '@{img-prints}/pcard_motivate__bg.jpg';

/* @img-prints-middle-1: '@{img-prints}/'; */

/*@img-prints-large-1: '@{img-prints}/';*/




/*
	THINGIES
	********
	тени, рюшечки, вензеля и т.п.
*/
@img-thingies-shadow-1: '@{img-thingies}/shadow-1.png';
@img-thingies-shadow-2: '@{img-thingies}/shadow-2.png';
@img-thingies-shadow-3: '@{img-thingies}/shadow-3.png';
@img-thingies-shadow-4: '@{img-thingies}/shadow-4.png';

@img-thingies-ribbon-1: '@{img-thingies}/ribbon-1.jpg';
@img-thingies-ribbon-2: '@{img-thingies}/ribbon-2.jpg';




/*
	STUB
	****
	картинки для заглушки, в "прод" не идут
*/
