/*
	======
	IMAGES
	======
*/
@img: '/bitrix/templates/zoloto/images';

@img-patterns: '@{img};
@img-prints: '@{img};
@img-sprites: '@{img};
@img-stub: '@{img};
@img-thingies: '@{img};



/*
	=====
	FONTS
	=====
*/
@fonts-path: '/bitrix/templates/zoloto/css/fonts';




/*
	===
	SVG
	===
*/