/*
	images
*/
@img: '/bitrix/templates/zoloto/images';
@img-sprite: '@{img}';
@img-sprite-header_20x20: '@{img-sprite}/sprite__header-icons_20x20.png';
@img-sprite-form_37x35: '@{img-sprite}/sprite__form-icos_37x35.png';
@img-sprite-form_50x48: '@{img-sprite}/sprite__form-icos_50x48.png';
@img-long-shadow: '@{img}/long_horiz_shadow.png';


/*
	fonts
*/
/*@global-fonts-path: 'http://zoloto585.ru/bitrix/templates/zoloto/css/fonts/';*/
@fonts-path: '/bitrix/templates/zoloto/css/fonts/';