/*
	@mix less
*/
.column-count(@count: auto) {
	-webkit-column-count: @count;
	   -moz-column-count: @count;
	        column-count: @count;
}
.column-gap(@gap: normal) {
	-webkit-column-gap: @gap;
	   -moz-column-gap: @gap;
	        column-gap: @gap;
}
.boxing(@model: border-box) {
	-webkit-box-sizing: @model;
	-moz-box-sizing: @model;
	box-sizing: @model;
}
/*
	@mix less
*/
