.filter-section-1 {
	padding-top: 3px;
}
.filter-section-1 .filter-section__block {
	height: 247px;
}
.filter-section-1 .js-scroll-pane {
	height: 180px;
}
.filter-section-1 .filter-product_price-properties,
.filter-section-1 .filter-product_price-properties .filter-option_content_textfield {
	padding-top: 0;
}
.filter-section-1 .js-scroll-pane{
    height: 165px;
}
.filter-section-1 .filter-section__block{
    /*height: 210px;*/
    padding-left: 7px;
    padding-right: 0px;
}

.filter-section-1 .filter-section__block .jspVerticalBar{
    right: 6px;
}