.filter-option {
	display: block;
	padding: 1px 0 7px 0;
	vertical-align: top;


	&__checkbox {
		display:none;
	}


	&__title {
		display: block;


		&--checkbox {

			&:before {
				position: absolute;
				left: 0;
				top: -1px;

				content: '';

				display: block;
				height: 16px;
				width: 16px;
				margin: 0 6px 0 0;
				background-image: url(@img-sprite-catalog-filter);
				background-repeat: no-repeat;
				background-position: left top;
			}
		}
	}
}

.filter-option__title {
	font-family:'Circle Light';
	color: #797979;
	white-space: normal;
}


/*
	обработка смены состояний активности чекбоксов
*/



























.filter-option_content_textfield  {
	margin-top: 24px;
}
.filter-option_content_textfield > * {
	margin-left: 17px;
	margin-bottom: 6px;
}


.filter-option__checkbox + span {
    cursor: pointer;
    padding: 0 0 0 20px;
    position: relative;
    word-wrap: break-word;

}


.filter-option__checkbox  + span:before {
    background-position: left top;
}
.filter-option:hover .filter-option__checkbox  + span:before {
    background-position: left -16px;
}
.filter-option__checkbox:checked  + span:before,
.filter-option:hover .filter-option__checkbox:checked  + span:before {
    background-position: left -32px;
}


.filter-options_color label,
.filter-options_color  .filter-option__checkbox + span:before {
	display: inline-block;
	height: 15px;
    width: 31px;
}
.filter-options_color label {
	margin: 0 7px 7px 0;
}
.filter-options_color  .filter-option__checkbox + span:before {
	border: 1px solid #ece7e6;
	border-radius: 5px;
}
.filter-options_color  .filter-option__checkbox:checked + span:before {
	border: 1px solid #ed3030;
} 
.filter-option_color_white  .filter-option__checkbox + span:before {
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(234,235,234,1) 0%, rgba(210,211,210,1) 50%, rgba(201,202,201,1) 51%, rgba(175,176,175,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(234,235,234,1) 0%,rgba(210,211,210,1) 50%,rgba(201,202,201,1) 51%,rgba(175,176,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(234,235,234,1) 0%,rgba(210,211,210,1) 50%,rgba(201,202,201,1) 51%,rgba(175,176,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebea', endColorstr='#afb0af',GradientType=1 ); /* IE6-9 */
}
.filter-option_color_gold  .filter-option__checkbox + span:before {
	background: rgb(229,203,161); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(229,203,161,1) 0%,  rgba(161,139,76,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(229,203,161,1) 0%,rgba(161,139,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(229,203,161,1) 0%,rgba(161,139,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d19b', endColorstr='#a18b4c',GradientType=1 ); /* IE6-9 */
}
.filter-option_color_red  .filter-option__checkbox + span:before {
	background: rgb(224,154,114); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(224,154,114,1) 0%,  rgba(174,109,65,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(224,154,114,1) 0%,rgba(174,109,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(224,154,114,1) 0%,rgba(174,109,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d79b70', endColorstr='#ae6d41',GradientType=1 ); /* IE6-9 */
}
.filter-option_color_2tone  .filter-option__checkbox + span:before {
	background: rgb(208,169,118); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(210,175,108,1) 0%, rgba(170,149,85,1) 49%, rgba(158,133,76,1) 50%, rgba(192,95,76,1) 51%, rgba(209,132,107,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(210,175,108,1) 0%, rgba(170,149,85,1) 49%, rgba(158,133,76,1) 50%, rgba(192,95,76,1) 51%, rgba(209,132,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(210,175,108,1) 0%, rgba(170,149,85,1) 49%, rgba(158,133,76,1) 50%, rgba(192,95,76,1) 51%, rgba(209,132,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb576', endColorstr='#cf6f59',GradientType=1 ); /* IE6-9 */
}
.filter-option_color_3tone  .filter-option__checkbox + span:before {
	background: rgb(171,148,88); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(198,173,103,1) 0%, rgba(171,148,88,1) 33%, rgba(220,223,219,1) 34%, rgba(195,192,187,1) 67%, rgba(180,114,99,1) 68%, rgba(177,119,97,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(198,173,103,1) 0%, rgba(171,148,88,1) 33%, rgba(220,223,219,1) 34%, rgba(195,192,187,1) 67%, rgba(180,114,99,1) 68%, rgba(177,119,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(198,173,103,1) 0%, rgba(171,148,88,1) 33%, rgba(220,223,219,1) 34%, rgba(195,192,187,1) 67%, rgba(180,114,99,1) 68%, rgba(177,119,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bca268', endColorstr='#d9d6d5',GradientType=1 ); /* IE6-9 */
}

.filter-option_color_black  .filter-option__checkbox + span:before {
	background: rgb(56,44,57); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(56,44,57,1) 0%,  rgba(48,46,54,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(56,44,57,1) 0%,  rgba(48,46,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(56,44,57,1) 0%,  rgba(48,46,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382c39', endColorstr='#273337',GradientType=1 ); /* IE6-9 */
}
.filter-option__textfield {
	height: 26px;
	border: 1px solid #e4e3e3;
	border-radius: 3px;
	color: #424242;
	text-align: center;
	margin: 0 3px;
	vertical-align: middle;
	font: 14px/25px 'Circle Light';
}
.filter-option__textfield_small {
	width: 38px;
	padding: 0 1px;
}
.filter-option__textfield_big {
	width: 96px;
	padding: 0 6px;
	text-align: left;
}
.filter-option_content_textfield_light .filter-option__title {
	font-size: 11px;
	color: #a9a9a9;
}


.filter-option_colorinsert_white .filter-option__checkbox + span:before {
	background-color: #fafafa;
}
.filter-option_colorinsert_pink .filter-option__checkbox + span:before {
	background-color: #f384c4;
}
.filter-option_colorinsert_purple .filter-option__checkbox + span:before {
	background-color: #a34d9d;
}
.filter-option_colorinsert_green .filter-option__checkbox + span:before {
	background-color: #96eb97;
}
.filter-option_colorinsert_orange .filter-option__checkbox + span:before {
	background-color: #faa474;
}
.filter-option_colorinsert_coral .filter-option__checkbox + span:before {
	background-color: #fd6760;
}
.filter-option_colorinsert_aquamarine .filter-option__checkbox + span:before {
	background-color: #8fd1f2;
}
.filter-option_colorinsert_blue .filter-option__checkbox + span:before {
	background-color: #5f75eb;
}
.filter-option_colorinsert_yellow .filter-option__checkbox + span:before {
	background-color: #f4ee8f;
}
.filter-option_colorinsert_lpurple .filter-option__checkbox + span:before {
	background-color: #b556ce;
}
.filter-option_colorinsert_burgundy .filter-option__checkbox + span:before {
	background-color: #af807f;
}
.filter-option_colorinsert_darkburgundy .filter-option__checkbox + span:before {
	background-color: #7c4240;
}
.filter-option_colorinsert_black .filter-option__checkbox + span:before {
	background-color: #454444;
}
.filter-option_colorinsert_white-black .filter-option__checkbox + span:before,
.filter-option.filter-option_colorinsert_white-black:hover .filter-option__checkbox + span:before  {
	background-image: url(../images/filter_option__checkbox.png);
	background-position: -18px -17px;
}
.filter-option_colorinsert_multicolor .filter-option__checkbox + span:before,
 .filter-option.filter-option_colorinsert_multicolor:hover .filter-option__checkbox + span:before {
	background-image: url(../images/filter_option__checkbox.png);
	background-position: -18px -1px;
}
.filter-option__size-checkbox {
    display:none;            
}
.filter-option__size-checkbox  + span {
  cursor: pointer;
  min-width: 30px;
  line-height: 30px;
  position: relative;
  display: inline-block;
  color: #a9a9a9;
  text-align: center;
  z-index:1;
}
.filter-option__size-checkbox  + span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 27px;
    width: 30px;
    background:#f9f9f9;
    z-index:-1;
    border: 1px solid #e4e3e3;
    border-radius: 3px;
}

.filter-option:hover .filter-option__size-checkbox  + span:before,
.filter-options_color .filter-option:hover .filter-option__checkbox + span:before {
    border: 1px solid #ff2600; 
}
.filter-option__size-checkbox:checked  + span:before,
.filter-option:hover .filter-option__size-checkbox:checked  + span:before {
    border: 1px solid #ff2600;
}