.filter-section-2 .filter-section__block {
	padding: 8px 6px 8px 7px;
}
.filter-section-2 .filter-section__block {
	height: 115px;
}
.filter-section-2 .js-scroll-pane {
	height: 65px;
}
.filter-section-2 .filter-section__block {
    padding: 15px 15px 19px;
}
.filter-section-2 {
    overflow: visible;
}
.filter-section-2 .filter-section__block{
    padding-top:10px;
    padding-left: 7px;
}