.filter {
	background-color: #f5f5f5;
}

.filter-section {
	overflow: hidden;

	background: #f5f5f5;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #fbfbfb;

	&__inner {
		height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		font-size: 0;
	}


	&__block {
		display: inline-block;
		vertical-align: top;
		height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-top: 15px;
		/*padding: 15px 6px 19px 7px;*/

		border-right: 1px solid #ededed;
		border-left: 1px solid #fbfbfb;


		&:first-child {
			border-left: none;
		}


		&:last-child {
			border-right: none;
		}
	}
}


.filter-section-1 {
	height: 247px;

	.filter-section__block {

	}
}
.filter-section-2 {}
.filter-section-3 {}
.filter-section-4 {}


























.filter-section-1 {
	.scroll-pane {
		height: 180px;
	}

	.filter-group__scroll_settings {
		overflow:  hidden
	}
}
.filter-section-2 {
	/*height: px;*/
}
.filter-section-3 {
	/*height: px;*/
}
.filter-section-4 {
	/*height: px;*/
}


.level2 .filter-section__block {
	padding: 8px 6px 8px 7px;
}

.level2 .filter-section__block {
	height: 115px;
}

.level2 .scroll-pane {
	height: 65px;
}