.filter-tags {
	padding: 15px 0;


	&__header {
		float: left;

		display: inline-block;
		vertical-align: top;
		padding-top: 0;
		padding-right: 10px;

		line-height: 22px;
	}


	.filter-group__options {
		padding-top: 0;
	}


	&__tab {
		position: relative;

		display: inline-block;
		vertical-align: top;
		height: 22px;
		.boxing(border-box);
		padding: 0 20px 0 10px;
		margin: 0 5px 10px 0;

		
		background: #ffffff;
		border: 1px solid #e8e8e8;
		border-radius: 3px;
		
		white-space: nowrap;
		text-transform: uppercase;
		.font-circe_regular(10px, 22px, #333);

		cursor: pointer;


		&:after {
			position: absolute;
			right: 6px;
			top: 5px;

			content: '';

			display: block;
			width: 9px;
			height: 9px;

			background: transparent url(@img-sprite-catalog-filter) -34px -36px no-repeat;
		}


		&:hover {
			border: 1px solid #ed3939;


			&:after {
				background-position: -34px -25px;
			}
		}
	}


	&__button {
		float: right;

		display: inline-block;
		vertical-align: top;
		text-decoration: underline;
		margin-top: 3px;

		background: transparent;
		border: none;

		text-transform: uppercase;
		.font-circe_regular(10px, 20px, #333);

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;

		cursor: pointer;


		&:hover {
			color: #ed3030;
		}
	}
}