/*
	======
	IMAGES
	======
*/
@img: '/bitrix/templates/zoloto/images';

@img-patterns: '@{img}/patterns';
@img-prints: '@{img}/prints';
@img-sprites: '@{img}/sprites';
@img-thingies: '@{img}/thingies';



/*
	=====
	FONTS
	=====
*/
@fonts-path: '/bitrix/templates/zoloto/css/fonts';




/*
	===
	SVG
	===
*/