.filter-mini {
	font-size: 0;


	.form__field {
		display: inline-block;
		height: 30px;
		width: 150px;
		margin-left: 25px;
		margin-right: 25px;
	}


	.form__field-select {
		padding-left: 15px;
		padding-right: 30px;
	}


	.form__button {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}


	&__row {
		display: inline-block;
		width: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-top: 20px;

		text-align: right;


		&--even {
			text-align: left;
		}


		&--button {
			position: relative;
			top: 3px;
			z-index: 2;

			/*height: 37px;*/
			width: 100%;
		}
	}
}

/*@mobile Portrait*/
@media screen and (max-width: @mobile_p-max) {
	.filter-mini {


		.form__field {
			width: 275px;
			height: 48px;
			margin: 0 auto;
		}


		.form__field-select {
			.font-circe_light(14px, 48px, #666);
		}


		&__row {
			display: block;
			width: 100%;
			text-align: center;


			&--even {
				text-align: center;
			}
		}
	}
}