.nav-banners {
	position: absolute;
	top: 10px;

	display: block;
	width: 510px;
	height: 330px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	// background-color: rgba(0, 0, 0, .3);


	&--type-1 {
		right: 10px;

		width: 510px;
		height: 330px;
	}


	&--type-2 {
		right: 10px;

		width: 440px;
		height: 330px;
	}


	&--type-3 {
		left: 0;

		width: 590px;
		height: 270px;
	}


	&--type-4 {
		left: 30px;

		width: 510px;
		height: 330px;
	}



	&__item {
		position: absolute;

		display: block;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		border: 1px solid #dedede;


		&:hover {
			border-color: #ed3030;
		}


		&--type-0 {
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}


		&--type-1 {
			top: 0;
			left: 0;

			width: 250px;
			height: 160px;
		}


		&--type-2 {
			left: 0;
			bottom: 0;

			width: 250px;
			height: 160px;
		}


		&--type-3 {
			top: 0;
			left: 0;

			width: 250px;
			height: 330px;
		}


		&--type-4 {
			top: 0;
			right: 0;

			width: 250px;
			height: 330px;
		}


		&--type-5 {
			width: 290px;
			height: 130px;

			&:nth-child(1) {
				top: 0;
				left: 0;
			}


			&:nth-child(2) {
				top: 0;
				right: 0;
			}


			&:nth-child(3) {
				left: 0;
				bottom: 0;
			}


			&:nth-child(4) {
				bottom: 0;
				right: 0;
			}
		}


		&--type-6 {
			top: 0;
			left: 0;

			width: 510px;
			height: 330px;
		}


		&--type-7 {}
	}
}