/*
	======
	IMAGES
	======
*/
/*
	=====
	FONTS
	=====
*/
/*
	===
	SVG
	===
*/
.index-slider {
  height: 449px;
}
.index-slider__inner {
  height: 449px;
  background: transparent url('../img/stub/index_stub__460px__index-slider.jpg') center 0 no-repeat;
}
.showcase {
  height: 947px;
}
.showcase__inner {
  height: 947px;
  background: transparent url('../img/stub/index_stub__460px__showcase.jpg') center 0 no-repeat;
}
.index-info {
  height: 546px;
}
.index-info__inner {
  height: 546px;
  background: transparent url('../img/stub/index_stub__460px__index-info.jpg') center 0 no-repeat;
}
.footer-all {
  height: 311px;
}
.footer-all__inner {
  height: 311px;
  background: transparent url('../img/stub/index_stub__460px__footer-all.jpg') center 0 no-repeat;
}
/* .header-bottom {
	height: 10px;
} */
/************************************************
******* ГРУППЫ СВОЙСТВ **************************
*************************************************/
/*display*/
.-dn- {
  display: none;
}
.-db- {
  display: block;
}
.-dib- {
  display: inline-block;
}
.-di- {
  display: inline;
}
.-dt- {
  display: table;
}
.-dtc- {
  display: table-cell;
}
.-dtr- {
  display: table-row;
}
/*----------end;display---------------------------------*/
/*box-sizing*/
/*----------end;box-sizing---------------------------------*/
/*position*/
/*----------end;position---------------------------------*/
/*text*/
.-tal- {
  text-align: left;
}
.-tac- {
  text-align: center;
}
.-tar- {
  text-align: right;
}
.-taj- {
  text-align: justify;
}
.-tdn- {
  text-decoration: none;
}
.-tdu- {
  text-decoration: underline;
}
.-tdl- {
  text-decoration: line-through;
}
.-tdo- {
  text-decoration: overline;
}
.-ttu- {
  text-transform: uppercase;
}
.-ttl- {
  text-transform: lowercase;
}
.-ttc- {
  text-transform: capitalize;
}
.-ttn- {
  text-transform: none;
}
.-toc- {
  -ms-text-overflow: clip;
  text-overflow: clip;
}
.-toe- {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*------------------end;text---------------------------------*/
/*border*/
/*-----------------------------------end;border---------------------------------*/
/*border-radius*/
/*----------end;border-radius---------------------------------*/
/*background*/
/*background: [background-attachment || background-color || background-image || background-position || background-repeat] | inherit;*/
.-cover- {
  -webkit-background-size: cover;
  background-size: cover;
}
.-contain- {
  -webkit-background-size: contain;
  background-size: contain;
}
/*----------end;background---------------------------------*/
/*box-shadow*/
.-bxshadn- {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*----------end;box-shadow---------------------------------*/
/*********************************************
********* UI-элементы и модификации***********
*********************************************/
/* Box */
/*.-box-bg-() {}*/
/*
	@mix less
*/
/*
	@mix less
*/
/*
	миксин для определения нестандартного шрифта для @font-face
*/
/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/
/*
	Circe
*/
/*
	Circe Rounded
*/
/*
	Helvetica Neue
*/
/*
	SPRITES
	*******
	спрайты, много маленьких изображений склеенных в одну картинку
*/
/*
	PATTERNS
	********
	паттерны узоров/текстур, фоновые картинки не имеющие ярко выраженный смысл композиции
*/
/*@img-pattern-...*/
/*
	PRINTS
	******
	принты, большие фоны, иллюстрации, фотофоны, выражена композиция картинки
*/
/* @img-prints-middle-1: '@{img-prints}/'; */
/*@img-prints-large-1: '@{img-prints}/';*/
/*
	THINGIES
	********
	тени, рюшечки, вензеля и т.п.
*/
/*
	STUB
	****
	картинки для заглушки, в "прод" не идут
*/
/*
	======
	COLORS
	======
*/
/*
	ЗНАЧЕНИЯ
	ТОЧЕК
	СЛОМА
*/
/* DESKTOP */
/* TABLET ALBUM */
/* TABLET PORTRAIT */
/* MOBILE ALBUM */
/* MOBILE PORTRAIT */
/*@mobile_p-min: px;*/
/*
	ПРАВИЛА
	ДЛЯ
	@MEDIA-ВЫРАЖЕНИЙ
*/
.filter-section__block_btns {
  text-align: center;
  float: none;
}
.filter-btn {
  display: inline-block;
  color: #797979;
  font: 12px 'Circle';
  border: none;
  text-transform: uppercase;
  border: 1px solid #f0f0f0;
  background: #fdfdfd;
  padding: 5px 0;
  width: 180px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.14);
  margin: 0 7px;
}
.filter-btn:hover {
  background: #ed3030;
  border: 1px solid #ed3030;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.14);
}
.filter-btn_red_color {
  background: none;
  background: #eb3030;
  color: #ffffff;
  border: 1px solid #eb3030;
}
.filter-btn_red_color:hover {
  background: #b01f22;
  border: 1px solid #b01f22;
  cursor: pointer;
}
.filter-section__selection {
  padding: 20px 0 0;
}
.filter-section__selection {
  float: none;
}
.filter-option_content_textfield {
  margin-top: 24px;
}
.filter-option_content_textfield > * {
  margin-left: 17px;
  margin-bottom: 6px;
}
.filter-option__checkbox + span:before {
  background-position: left top;
}
.filter-option:hover .filter-option__checkbox + span:before {
  background-position: left -16px;
}
.filter-option__checkbox:checked + span:before,
.filter-option:hover .filter-option__checkbox:checked + span:before {
  background-position: left -32px;
}
.filter-options_color label,
.filter-options_color .filter-option__checkbox + span:before {
  display: inline-block;
  height: 15px;
  width: 31px;
}
.filter-options_color label {
  margin: 0 7px 7px 0;
}
.filter-options_color .filter-option__checkbox + span:before {
  border: 1px solid #ece7e6;
  border-radius: 5px;
}
.filter-options_color .filter-option__checkbox:checked + span:before {
  border: 1px solid #ed3030;
}
/* .filter-option_color_white  .filter-option__checkbox + span:before {
	background: rgb(214,214,214); Old browsers
	background: -moz-linear-gradient(left, rgba(234,235,234,1) 0%, rgba(210,211,210,1) 50%, rgba(201,202,201,1) 51%, rgba(175,176,175,1) 100%); FF3.6-15
	background: -webkit-linear-gradient(left, rgba(234,235,234,1) 0%,rgba(210,211,210,1) 50%,rgba(201,202,201,1) 51%,rgba(175,176,175,1) 100%); Chrome10-25,Safari5.1-6
	background: linear-gradient(to right, rgba(234,235,234,1) 0%,rgba(210,211,210,1) 50%,rgba(201,202,201,1) 51%,rgba(175,176,175,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebea', endColorstr='#afb0af',GradientType=1 ); IE6-9
}
.filter-option_color_gold  .filter-option__checkbox + span:before {
	background: rgb(229,203,161); Old browsers
	background: -moz-linear-gradient(left, rgba(229,203,161,1) 0%,  rgba(161,139,76,1) 100%); FF3.6-15
	background: -webkit-linear-gradient(left, rgba(229,203,161,1) 0%,rgba(161,139,76,1) 100%); Chrome10-25,Safari5.1-6
	background: linear-gradient(to right, rgba(229,203,161,1) 0%,rgba(161,139,76,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d19b', endColorstr='#a18b4c',GradientType=1 ); IE6-9
}
.filter-option_color_red  .filter-option__checkbox + span:before {
	background: rgb(224,154,114); Old browsers
	background: -moz-linear-gradient(left, rgba(224,154,114,1) 0%,  rgba(174,109,65,1) 100%); FF3.6-15
	background: -webkit-linear-gradient(left, rgba(224,154,114,1) 0%,rgba(174,109,65,1) 100%); Chrome10-25,Safari5.1-6
	background: linear-gradient(to right, rgba(224,154,114,1) 0%,rgba(174,109,65,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d79b70', endColorstr='#ae6d41',GradientType=1 ); IE6-9
}
.filter-option_color_2tone  .filter-option__checkbox + span:before {
	background: rgb(208,169,118); Old browsers
	background: -moz-linear-gradient(left, rgba(210,175,108,1) 0%, rgba(170,149,85,1) 49%, rgba(158,133,76,1) 50%, rgba(192,95,76,1) 51%, rgba(209,132,107,1) 100%); FF3.6-15
	background: -webkit-linear-gradient(left, rgba(210,175,108,1) 0%, rgba(170,149,85,1) 49%, rgba(158,133,76,1) 50%, rgba(192,95,76,1) 51%, rgba(209,132,107,1) 100%); Chrome10-25,Safari5.1-6
	background: linear-gradient(to right, rgba(210,175,108,1) 0%, rgba(170,149,85,1) 49%, rgba(158,133,76,1) 50%, rgba(192,95,76,1) 51%, rgba(209,132,107,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb576', endColorstr='#cf6f59',GradientType=1 ); IE6-9
}
.filter-option_color_3tone  .filter-option__checkbox + span:before {
	background: rgb(171,148,88); Old browsers
	background: -moz-linear-gradient(left, rgba(198,173,103,1) 0%, rgba(171,148,88,1) 33%, rgba(220,223,219,1) 34%, rgba(195,192,187,1) 67%, rgba(180,114,99,1) 68%, rgba(177,119,97,1) 100%); FF3.6-15
	background: -webkit-linear-gradient(left, rgba(198,173,103,1) 0%, rgba(171,148,88,1) 33%, rgba(220,223,219,1) 34%, rgba(195,192,187,1) 67%, rgba(180,114,99,1) 68%, rgba(177,119,97,1) 100%); Chrome10-25,Safari5.1-6
	background: linear-gradient(to right, rgba(198,173,103,1) 0%, rgba(171,148,88,1) 33%, rgba(220,223,219,1) 34%, rgba(195,192,187,1) 67%, rgba(180,114,99,1) 68%, rgba(177,119,97,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bca268', endColorstr='#d9d6d5',GradientType=1 ); IE6-9
}

.filter-option_color_black  .filter-option__checkbox + span:before {
	background: rgb(56,44,57); Old browsers
	background: -moz-linear-gradient(left, rgba(56,44,57,1) 0%,  rgba(48,46,54,1) 100%); FF3.6-15
	background: -webkit-linear-gradient(left, rgba(56,44,57,1) 0%,  rgba(48,46,54,1) 100%); Chrome10-25,Safari5.1-6
	background: linear-gradient(to right, rgba(56,44,57,1) 0%,  rgba(48,46,54,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382c39', endColorstr='#273337',GradientType=1 ); IE6-9
} */
.filter-option__textfield {
  height: 26px;
  border: 1px solid #e4e3e3;
  border-radius: 3px;
  color: #424242;
  text-align: center;
  margin: 0 3px;
  vertical-align: middle;
  font: 14px/25px 'Circle Light';
}
.filter-option__textfield_small {
  width: 38px;
  padding: 0 1px;
}
.filter-option__textfield_big {
  width: 96px;
  padding: 0 6px;
  text-align: left;
}
.filter-option_content_textfield_light .filter-option__title {
  font-size: 11px;
  color: #a9a9a9;
}
.filter-option_colorinsert_white .filter-option__checkbox + span:before {
  background-color: #fafafa;
}
.filter-option_colorinsert_pink .filter-option__checkbox + span:before {
  background-color: #f384c4;
}
.filter-option_colorinsert_purple .filter-option__checkbox + span:before {
  background-color: #a34d9d;
}
.filter-option_colorinsert_green .filter-option__checkbox + span:before {
  background-color: #96eb97;
}
.filter-option_colorinsert_orange .filter-option__checkbox + span:before {
  background-color: #faa474;
}
.filter-option_colorinsert_coral .filter-option__checkbox + span:before {
  background-color: #fd6760;
}
.filter-option_colorinsert_aquamarine .filter-option__checkbox + span:before {
  background-color: #8fd1f2;
}
.filter-option_colorinsert_blue .filter-option__checkbox + span:before {
  background-color: #5f75eb;
}
.filter-option_colorinsert_yellow .filter-option__checkbox + span:before {
  background-color: #f4ee8f;
}
.filter-option_colorinsert_lpurple .filter-option__checkbox + span:before {
  background-color: #b556ce;
}
.filter-option_colorinsert_burgundy .filter-option__checkbox + span:before {
  background-color: #af807f;
}
.filter-option_colorinsert_darkburgundy .filter-option__checkbox + span:before {
  background-color: #7c4240;
}
.filter-option_colorinsert_black .filter-option__checkbox + span:before {
  background-color: #454444;
}
.filter-option_colorinsert_white-black .filter-option__checkbox + span:before,
.filter-option.filter-option_colorinsert_white-black:hover .filter-option__checkbox + span:before {
  background-image: url(../images/filter_option__checkbox.png);
  background-position: -18px -17px;
}
.filter-option_colorinsert_multicolor .filter-option__checkbox + span:before,
.filter-option.filter-option_colorinsert_multicolor:hover .filter-option__checkbox + span:before {
  background-image: url(../images/filter_option__checkbox.png);
  background-position: -18px -1px;
}
.filter-option__size-checkbox {
  display: none;
}
.filter-option__size-checkbox + span {
  cursor: pointer;
  min-width: 30px;
  line-height: 30px;
  position: relative;
  display: inline-block;
  color: #a9a9a9;
  text-align: center;
  z-index: 1;
}
.filter-option__size-checkbox + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 27px;
  width: 30px;
  background: #f9f9f9;
  z-index: -1;
  border: 1px solid #e4e3e3;
  border-radius: 3px;
}
.filter-option:hover .filter-option__size-checkbox + span:before,
.filter-options_color .filter-option:hover .filter-option__checkbox + span:before {
  border: 1px solid #ff2600;
}
.filter-option__size-checkbox:checked + span:before,
.filter-option:hover .filter-option__size-checkbox:checked + span:before {
  border: 1px solid #ff2600;
}
.filter {
  background-color: #f5f5f5;
}
.filter-section {
  overflow: hidden;
  background: #f5f5f5;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #fbfbfb;
}
.filter-section__inner {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
.filter-section__block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #ededed;
  border-left: 1px solid #fbfbfb;
}
.filter-section__block:first-child {
  border-left: none;
}
.filter-section__block:last-child {
  border-right: none;
}
.filter-section-1 {
  height: 247px;
}
.filter-section-2 {
  height: 118px;
}
.filter-section-3 {
  height: 67px;
}
.filter-section-4 {
  /*height: px;*/
}
.filter-group {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 0;
  border: none;
  /*font-size: 10px;*/
  /*text-transform: uppercase;*/
}
.filter-group__header {
  padding-top: 15px;
  text-transform: uppercase;
  font: 400 10px/17px 'Circe';
  color: #f3483e;
}
.filter-group__options {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
}
.filter-group_content_2column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 9px;
  -moz-column-gap: 9px;
  column-gap: 9px;
  vertical-align: top;
}
.filter-group_content_3column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
.product_diamondquantity-width .filter-group_content_2column {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
.filter-group__options_colorinsert .filter-option__checkbox:checked + span:before,
.filter-group__options_colorinsert .filter-option:hover .filter-option__checkbox + span:before {
  border: 1px solid #ed3030;
}
.filter-group__options_price_line label {
  display: inline-block;
  font-size: 11px;
}
.filter-group__options_price_line label:first-child {
  margin-right: 30px;
}
.filter-group__options_sizes .filter-option,
.filter-group__options_colorinsert .filter-option {
  display: inline-block;
  float: left;
  margin: 0 6px 1px 0;
  padding-bottom: 0;
}
.filter-group__options_colorinsert .filter-option__checkbox + span:before {
  background-image: none;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}
.filter-section__selection .filter-group__header {
  float: left;
}
.filter-section__selection .filter-group .filter-group__header {
  margin-right: 9px;
  margin-top: 3px;
}
.filter-section__selection .filter-group__options span {
  display: inline-block;
  padding: 0 20px 0 10px;
  line-height: 20px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  position: relative;
  white-space: nowrap;
  margin: 0 5px 10px 0;
}
.filter-section__selection .filter-group__options span:after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  right: 6px;
  top: 5px;
  background-image: url(../images/filter_option__checkbox.png);
  background-repeat: no-repeat;
  background-position: -34px -36px;
}
.filter-section__selection .filter-group__options span:hover:after {
  background-position: -34px -25px;
}
.filter-section__selection .filter-group__options span:hover {
  border: 1px solid #ed3939;
  cursor: pointer;
}
.filter-group__change_parametr_link {
  float: right;
  text-decoration: underline;
  font-style: normal;
  font-size: 10px;
  margin-top: 3px;
}
.filter-group__change_parametr_link:hover {
  color: #ed3030;
  cursor: pointer;
}
.filter-group__options .scroll-pane {
  overflow: auto;
  width: 100%;
}
.filter-group__scroll_settings .filter-option__checkbox + span::before {
  display: none;
}
.filter-group__scroll_settings .filter-option__checkbox + span {
  padding: 0;
}
/*
	подгонка ширин для выравнивания 
	столбцов таким образом, что 
	вертикальные полоски сходились стык в стык
*/
/*
	-------------
*/
.filter-group-by-product-type {
  width: 171px;
  height: 213px;
}
.filter-group-by-product-type .filter-group__options {
  height: 195px;
}
.filter-group-by-metal-type {
  width: 196px;
}
.filter-group-by-metal-type .filter-option {
  display: inline-block;
  vertical-align: top;
}
.filter-group-by-metal-alloy {
  width: 196px;
}
.filter-group-by-metal-alloy .filter-option {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}
.filter-group-by-metal-color {
  width: 196px;
}
.filter-group-by-gemstone {
  width: 183px;
}
.filter-group-by-gemstone .filter-group__options {
  height: 195px;
}
.filter-group-by-gemstone-quantity {
  width: 139px;
}
.filter-group-by-gemstone-color {
  width: 139px;
}
.filter-group-by-gemstone-weight {
  width: 139px;
}
.filter-group-by-styling {
  width: 167px;
}
.filter-group-by-styling .filter-group__options {
  height: 195px;
}
.filter-group-by-collection {
  width: 127px;
}
.filter-group-by-collection .filter-group__options {
  height: 195px;
}
.filter-group-by-price {
  width: 324px;
}
.filter-group-by-style {
  width: 167px;
}
.filter-group-by-style .filter-group__options {
  height: 70px;
}
.filter-group-by-size {
  width: 369px;
}
.filter-group-by-size .filter-group__header {
  padding-bottom: 3px;
}
.filter-group-by-size .filter-group__options {
  height: 70px;
}
.filter-group-by-lock {
  width: 127px;
}
.filter-group-by-lock .filter-group__options {
  height: 70px;
}
.filter-option {
  display: block;
  padding: 4px 12px 4px 0;
}
.filter-option--button {
  display: inline-block;
  padding: 0;
  /*margin: 0 6px 1px 0;*/
  margin: 3px;
}
.filter-option__checkbox {
  display: none;
}
.filter-option__title {
  position: relative;
  display: block;
  padding: 1px 0 0 20px;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  text-transform: uppercase;
  font: 300 10px/15px 'Circe';
  color: #797979;
}
.filter-option__title--checkbox:before {
  position: absolute;
  left: 0;
  top: -1px;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  background: url('../img/sprites/catalog_filter_sprite.png') 0 0 no-repeat;
}
.filter-option__title--checkbox:hover:before {
  background-position: 0 -16px;
}
.filter-option__title--button {
  display: block;
  width: 30px;
  height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  background: #f9f9f9;
  border: 1px solid #e4e3e3;
  border-radius: 3px;
  text-align: center;
  font: 300 10px/28px 'Circe';
  color: #a9a9a9;
}
.filter-option__title--button:hover {
  border-color: #ff2600;
}
/*
	обработка смены состояний активности чекбоксов
*/
.filter-option__checkbox:checked + .filter-option__title--checkbox:before {
  background-position: 0 -32px;
}
.filter-option__checkbox:checked + .filter-option__title--button {
  border-color: #ff2600;
}
.filter-link {
  position: absolute;
  top: 15px;
  right: 0;
  display: inline-block;
  margin-right: 10px;
  border-bottom: 1px dotted;
  text-transform: uppercase;
  text-decoration: none;
  font: 300 10px/10px 'Circe';
  color: #a9a9a9;
}
.filter-link:after {
  position: absolute;
  left: -16px;
  top: -3px;
  content: '';
  display: block;
  width: 13px;
  height: 12px;
  background: url('../img/sprites/catalog_filter_sprite.png') -34px -12px no-repeat;
}
.filter-link:hover {
  color: #ed3030;
}
.filter-link:hover:after {
  background-position: -34px 0;
}
.js-filter-group-scroll-pane {
  position: relative;
  outline: none;
}
.js-filter-group-scroll-pane .jspPane {
  position: absolute;
}
.js-filter-group-scroll-pane .jspHorizontalBar {
  display: none;
}
.js-filter-group-scroll-pane .jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  /* можно прижать к правому или левому краю */
  width: 16px;
  /* ширина полосы прокрутки */
  height: 100%;
  background: red;
  z-index: 100;
}
.js-filter-group-scroll-pane .jspTrack {
  position: absolute;
  z-index: 1;
  background: #f5f5f5;
}
.js-filter-group-scroll-pane .jspTrack:after {
  position: absolute;
  top: 0;
  left: 3px;
  z-index: -1;
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fbfbfb;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.js-filter-group-scroll-pane .jspDrag {
  position: absolute;
  left: -1px;
  width: 9px;
  background: #e8e8e8;
  border: 1px solid #d1d1d1;
  border-bottom: none;
  border-radius: 3px;
}
.js-filter-group-scroll-pane .jspDrag:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  left: 0;
  bottom: 0;
  border-radius: 3px;
  border-bottom: 1px solid #e8e8e8;
}
.js-filter-group-scroll-pane .jspDrag:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  left: 0;
  top: 0;
  border-radius: 3px;
  border-bottom: 1px solid #d1d1d1;
}
.js-filter-group-scroll-pane .jspVerticalBar {
  padding-bottom: 3px;
  background: none;
  width: 9px;
  right: 1px;
}
.js-filter-group-scroll-pane .jspHorizontalBar {
  background: none;
}
