/*
	======
	IMAGES
	======
*/
/*
	=====
	FONTS
	=====
*/
/*
	===
	SVG
	===
*/
.index-slider {
  height: 449px;
}
.index-slider__inner {
  height: 449px;
  background: transparent url('../img/stub/index_stub__460px__index-slider.jpg') center 0 no-repeat;
}
.showcase {
  height: 947px;
}
.showcase__inner {
  height: 947px;
  background: transparent url('../img/stub/index_stub__460px__showcase.jpg') center 0 no-repeat;
}
.index-info {
  height: 546px;
}
.index-info__inner {
  height: 546px;
  background: transparent url('../img/stub/index_stub__460px__index-info.jpg') center 0 no-repeat;
}
.footer-all {
  height: 311px;
}
.footer-all__inner {
  height: 311px;
  background: transparent url('../img/stub/index_stub__460px__footer-all.jpg') center 0 no-repeat;
}
/* .header-bottom {
	height: 10px;
} */
/************************************************
******* ГРУППЫ СВОЙСТВ **************************
*************************************************/
/*display*/
.-dn- {
  display: none;
}
.-db- {
  display: block;
}
.-dib- {
  display: inline-block;
}
.-di- {
  display: inline;
}
.-dt- {
  display: table;
}
.-dtc- {
  display: table-cell;
}
.-dtr- {
  display: table-row;
}
/*----------end;display---------------------------------*/
/*box-sizing*/
/*----------end;box-sizing---------------------------------*/
/*position*/
/*----------end;position---------------------------------*/
/*text*/
.-tal- {
  text-align: left;
}
.-tac- {
  text-align: center;
}
.-tar- {
  text-align: right;
}
.-taj- {
  text-align: justify;
}
.-tdn- {
  text-decoration: none;
}
.-tdu- {
  text-decoration: underline;
}
.-tdl- {
  text-decoration: line-through;
}
.-tdo- {
  text-decoration: overline;
}
.-ttu- {
  text-transform: uppercase;
}
.-ttl- {
  text-transform: lowercase;
}
.-ttc- {
  text-transform: capitalize;
}
.-ttn- {
  text-transform: none;
}
.-toc- {
  -ms-text-overflow: clip;
  text-overflow: clip;
}
.-toe- {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*------------------end;text---------------------------------*/
/*border*/
/*-----------------------------------end;border---------------------------------*/
/*border-radius*/
/*----------end;border-radius---------------------------------*/
/*background*/
/*background: [background-attachment || background-color || background-image || background-position || background-repeat] | inherit;*/
.-cover- {
  -webkit-background-size: cover;
  background-size: cover;
}
.-contain- {
  -webkit-background-size: contain;
  background-size: contain;
}
/*----------end;background---------------------------------*/
/*box-shadow*/
.-bxshadn- {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*----------end;box-shadow---------------------------------*/
/*********************************************
********* UI-элементы и модификации***********
*********************************************/
/* Box */
/*.-box-bg-() {}*/
/*
	@mix less
*/
/*
	@mix less
*/
/*
	миксин для определения нестандартного шрифта для @font-face
*/
/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/
/*
	Circe
*/
/*
	Circe Rounded
*/
/*
	Helvetica Neue
*/
/*
	SPRITES
	*******
	спрайты, много маленьких изображений склеенных в одну картинку
*/
/* основной спрайт, который содержит много иконок */
/* значкм с доставкой и т.п. в футере */
/* значки соц сетей в футере */
/* значения координат не верные */
/* для личного кабинета */
/*
	PATTERNS
	********
	паттерны узоров/текстур, фоновые картинки не имеющие ярко выраженный смысл композиции
*/
/*@img-pattern-...*/
/*
	PRINTS
	******
	принты, большие фоны, иллюстрации, фотофоны, выражена композиция картинки
*/
/* @img-prints-middle-1: '@{img-prints}/'; */
/*@img-prints-large-1: '@{img-prints}/';*/
/*
	THINGIES
	********
	тени, рюшечки, вензеля и т.п.
*/
/* используется в кабинете */
/*
	STUB
	****
	картинки для заглушки, в "прод" не идут
*/
/*
	======
	COLORS
	======
*/
/*
	ЗНАЧЕНИЯ
	ТОЧЕК
	СЛОМА
*/
/* DESKTOP */
/* TABLET ALBUM */
/* TABLET PORTRAIT */
/* MOBILE ALBUM */
/* MOBILE PORTRAIT */
/*@mobile_p-min: px;*/
/*
	ПРАВИЛА
	ДЛЯ
	@MEDIA-ВЫРАЖЕНИЙ
*/
/* фильтр каталога */
/*@import "catalog/filter/filter.less";*/
/*@import "catalog/filter/filter-group.less";*/
/*@import "catalog/filter/filter-group-by.less";*/
/*@import "catalog/filter/filter-option.less";*/
/*@import "catalog/filter/filter-link.less";*/
/*@import "catalog/filter/filter-buttons.less";*/
/*@import "catalog/filter/filter-tags.less";*/
/*@import "catalog/filter/filter-js-scrollpane.less";*/
/* catalog-item */
.catalog-item-pic {
  position: relative;
}
.pagination_list__item {
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  color: #424242;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  position: relative;
  text-decoration: none;
}
.pagination_list__item__link-prev,
.pagination_list__item__link-next,
.pagination_list__item__link {
  width: 30px;
  height: 28px;
  display: block;
  position: relative;
}
.pagination_list__item.active {
  position: relative;
  cursor: default;
}
.pagination_list__item.active:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;
  border: 2px solid red;
  width: 32px;
  height: 30px;
  z-index: 1;
}
.pagination_list__item.active a:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  bottom: -4px;
  content: "";
  height: 0;
  left: 10px;
  position: absolute;
  width: 0;
  z-index: 11;
}
.pagination_list__item.active:before {
  position: absolute;
  content: '';
  bottom: -6px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f3483e;
}
.pagination_list__item:last-child {
  border-radius: 0 3px 3px 0;
  background: #fafafa;
}
.pagination_list__item:first-child {
  border-radius: 3px 0 0 3px;
  background: #fafafa;
}
.pagination_list__item__prev,
.pagination_list__item__next {
  width: 9px;
  height: 14px;
  position: relative;
  top: 6px;
  left: 10px;
  display: block;
  background-image: url(../images/filter/filter_option__checkbox.png);
  background-repeat: no-repeat;
}
.pagination_list__item__prev {
  background-position: -16px -32px;
}
.pagination_list__item__next {
  background-position: -25px -32px;
  left: 11px;
}
.pagination_list {
  margin: 0 auto;
  display: block;
}
.pagination_list__item:hover {
  cursor: pointer;
}
.pagination_list > li a {
  border: 1px solid transparent;
}
.pagination_list > li:hover a {
  border: 1px solid #f3483e;
}
.pagination_list > li.active:hover a,
.pagination_list > li.active a {
  border: none;
}
.b-pagination-top {
  /* .... */
}
@media (max-width: 999px) {
  .b-pagination-top {
    display: none;
  }
}
.b-pagination-bottom .pagination_list__item.active:before {
  content: '';
  top: -6px;
  border-top: 0;
  border-bottom: 5px solid #f3483e;
}
.b-pagination-bottom .pagination_list__item.active a:after {
  border-bottom: 5px solid #fff;
  border-top: 0;
  top: -4px;
  content: '';
  z-index: 11;
}
