/*
	======
	IMAGES
	======
*/
/*
	=====
	FONTS
	=====
*/
/*
	===
	SVG
	===
*/
/************************************************
******* ГРУППЫ СВОЙСТВ **************************
*************************************************/
/*display*/
.-dn- {
  display: none;
}
.-db- {
  display: block;
}
.-dib- {
  display: inline-block;
}
.-di- {
  display: inline;
}
.-dt- {
  display: table;
}
.-dtc- {
  display: table-cell;
}
.-dtr- {
  display: table-row;
}
/*----------end;display---------------------------------*/
/*box-sizing*/
.-bxszbb- {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.-bxszcb- {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.-bxszpb- {
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}
/*----------end;box-sizing---------------------------------*/
/*position*/
/*----------end;position---------------------------------*/
/*text*/
.-tal- {
  text-align: left;
}
.-tac- {
  text-align: center;
}
.-tar- {
  text-align: right;
}
.-taj- {
  text-align: justify;
}
.-tdn- {
  text-decoration: none;
}
.-tdu- {
  text-decoration: underline;
}
.-tdl- {
  text-decoration: line-through;
}
.-tdo- {
  text-decoration: overline;
}
.-ttu- {
  text-transform: uppercase;
}
.-ttl- {
  text-transform: lowercase;
}
.-ttc- {
  text-transform: capitalize;
}
.-ttn- {
  text-transform: none;
}
.-toc- {
  -ms-text-overflow: clip;
  text-overflow: clip;
}
.-toe- {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*------------------end;text---------------------------------*/
/*border*/
/*-----------------------------------end;border---------------------------------*/
/*border-radius*/
/*----------end;border-radius---------------------------------*/
/*background*/
/*background: [background-attachment || background-color || background-image || background-position || background-repeat] | inherit;*/
.-cover- {
  -webkit-background-size: cover;
  background-size: cover;
}
.-contain- {
  -webkit-background-size: contain;
  background-size: contain;
}
/*----------end;background---------------------------------*/
/*box-shadow*/
.-bxshadn- {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*----------end;box-shadow---------------------------------*/
/*********************************************
********* UI-элементы и модификации***********
*********************************************/
/* Box */
/*.-box-bg-() {}*/
/*.-button-text-() {}*/
/*.-button-ico-(image, hor, vert) {}*/
/*.-button-sqr-() {}*/
/*.-before-(){}
.-before-ico-(){}*/
/*.button-block-(@db: db, @w, @h, @bxsz) {
	.block-@{db}-(@w, @h);
	.-bxsz@{bxsz}-();
}
.button-text-(@font, @text) {}
.button-decor-(@bg, @shadow, @border, @brad) {}*/
/*.block(@w: auto, @h: auto, @pad: 0, @marg: 0, @ovh: visible) {
	display: block || inline-block;
	width: @w; px % auto
	height: @h; px % auto
	padding: @pad;
	margin: @marg;
	-webkit-box-sizing: border-box || content-box || padding-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: @ovh;
}*/
/*------------------------------------------------*/
/*
	HUMDRUM
*/
/*
	миксин для определения нестандартного шрифта для @font-face
*/
/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/
/*
	Circe
*/
/*
	Circe Rounded
*/
/*
	Helvetica Neue
*/
/*
	SPRITES
	*******
	спрайты, много маленьких изображений склеенных в одну картинку
*/
/*
	PATTERNS
	********
	паттерны узоров/текстур, фоновые картинки не имеющие ярко выраженный смысл композиции
*/
/*@img-pattern-...*/
/*
	PRINTS
	******
	принты, большие фоны, иллюстрации, фотофоны, выражена композиция картинки
*/
/* @img-prints-middle-1: '@{img-prints}/'; */
/*@img-prints-large-1: '@{img-prints}/';*/
/*
	THINGIES
	********
	тени, рюшечки, вензеля и т.п.
*/
/*
	STUB
	****
	картинки для заглушки, в "прод" не идут
*/
/*
	======
	COLORS
	======
*/
/*
	ЗНАЧЕНИЯ
	ТОЧЕК
	СЛОМА
*/
/* DESKTOP */
/* TABLET ALBUM */
/* TABLET PORTRAIT */
/* MOBILE ALBUM */
/* MOBILE PORTRAIT */
/*@mobile_p-min: px;*/
.index-slider {
  height: 449px;
}
.index-slider__inner {
  height: 449px;
  background: transparent url('../img/stub/index_stub__460px__index-slider.jpg') center 0 no-repeat;
}
.showcase {
  height: 947px;
}
.showcase__inner {
  height: 947px;
  background: transparent url('../img/stub/index_stub__460px__showcase.jpg') center 0 no-repeat;
}
.index-info {
  height: 546px;
}
.index-info__inner {
  height: 546px;
  background: transparent url('../img/stub/index_stub__460px__index-info.jpg') center 0 no-repeat;
}
.footer-all {
  height: 311px;
}
.footer-all__inner {
  height: 311px;
  background: transparent url('../img/stub/index_stub__460px__footer-all.jpg') center 0 no-repeat;
}
/* .header-bottom {
	height: 10px;
} */
.index-filter {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #cccbca;
  box-shadow: 0 1px 0 0 #efefef;
}
.index-filter__tab {
  border-bottom: 1px solid #cccbca;
  box-shadow: 0 1px 0 0 #efefef;
  text-transform: uppercase;
  text-align: center;
  font: 400 16px/44px 'Circe';
  color: #ed3030;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .index-filter {
    /*display: none;*/
  }
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .index-filter__inner {
    width: 100%;
  }
}
.filter-mini {
  font-size: 0;
}
.filter-mini .form__field {
  display: inline-block;
  height: 30px;
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;
}
.filter-mini .form__field-select {
  padding-left: 15px;
  padding-right: 30px;
}
.filter-mini .form__button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-mini__row {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: right;
}
.filter-mini__row--even {
  text-align: left;
}
.filter-mini__row--button {
  position: relative;
  top: 3px;
  z-index: 2;
  /*height: 37px;*/
  width: 100%;
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .filter-mini .form__field {
    width: 275px;
    height: 48px;
    margin: 0 auto;
  }
  .filter-mini .form__field-select {
    font: 300 14px/48px 'Circe';
    color: #666;
  }
  .filter-mini__row {
    display: block;
    width: 100%;
    text-align: center;
  }
  .filter-mini__row--even {
    text-align: center;
  }
}
