/*
	======
	IMAGES
	======
*/
/*
	=====
	FONTS
	=====
*/
/*
	===
	SVG
	===
*/
.index-slider {
  height: 449px;
}
.index-slider__inner {
  height: 449px;
  background: transparent url('../img/stub/index_stub__460px__index-slider.jpg') center 0 no-repeat;
}
.showcase {
  height: 947px;
}
.showcase__inner {
  height: 947px;
  background: transparent url('../img/stub/index_stub__460px__showcase.jpg') center 0 no-repeat;
}
.index-info {
  height: 546px;
}
.index-info__inner {
  height: 546px;
  background: transparent url('../img/stub/index_stub__460px__index-info.jpg') center 0 no-repeat;
}
.footer-all {
  height: 311px;
}
.footer-all__inner {
  height: 311px;
  background: transparent url('../img/stub/index_stub__460px__footer-all.jpg') center 0 no-repeat;
}
/* .header-bottom {
	height: 10px;
} */
/************************************************
******* ГРУППЫ СВОЙСТВ **************************
*************************************************/
/*display*/
.-dn- {
  display: none;
}
.-db- {
  display: block;
}
.-dib- {
  display: inline-block;
}
.-di- {
  display: inline;
}
.-dt- {
  display: table;
}
.-dtc- {
  display: table-cell;
}
.-dtr- {
  display: table-row;
}
/*----------end;display---------------------------------*/
/*box-sizing*/
/*----------end;box-sizing---------------------------------*/
/*position*/
/*----------end;position---------------------------------*/
/*text*/
.-tal- {
  text-align: left;
}
.-tac- {
  text-align: center;
}
.-tar- {
  text-align: right;
}
.-taj- {
  text-align: justify;
}
.-tdn- {
  text-decoration: none;
}
.-tdu- {
  text-decoration: underline;
}
.-tdl- {
  text-decoration: line-through;
}
.-tdo- {
  text-decoration: overline;
}
.-ttu- {
  text-transform: uppercase;
}
.-ttl- {
  text-transform: lowercase;
}
.-ttc- {
  text-transform: capitalize;
}
.-ttn- {
  text-transform: none;
}
.-toc- {
  -ms-text-overflow: clip;
  text-overflow: clip;
}
.-toe- {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*------------------end;text---------------------------------*/
/*border*/
/*-----------------------------------end;border---------------------------------*/
/*border-radius*/
/*----------end;border-radius---------------------------------*/
/*background*/
/*background: [background-attachment || background-color || background-image || background-position || background-repeat] | inherit;*/
.-cover- {
  -webkit-background-size: cover;
  background-size: cover;
}
.-contain- {
  -webkit-background-size: contain;
  background-size: contain;
}
/*----------end;background---------------------------------*/
/*box-shadow*/
.-bxshadn- {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*----------end;box-shadow---------------------------------*/
/*********************************************
********* UI-элементы и модификации***********
*********************************************/
/* Box */
/*.-box-bg-() {}*/
/*
	@mix less
*/
/*
	@mix less
*/
/*
	миксин для определения нестандартного шрифта для @font-face
*/
/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/
/*
	Circe
*/
/*
	Circe Rounded
*/
/*
	Helvetica Neue
*/
/*
	SPRITES
	*******
	спрайты, много маленьких изображений склеенных в одну картинку
*/
/* основной спрайт, который содержит много иконок */
/* значкм с доставкой и т.п. в футере */
/* значки соц сетей в футере */
/* значения координат не верные */
/* для личного кабинета */
/*
	PATTERNS
	********
	паттерны узоров/текстур, фоновые картинки не имеющие ярко выраженный смысл композиции
*/
/*@img-pattern-...*/
/*
	PRINTS
	******
	принты, большие фоны, иллюстрации, фотофоны, выражена композиция картинки
*/
/* @img-prints-middle-1: '@{img-prints}/'; */
/*@img-prints-large-1: '@{img-prints}/';*/
/*
	THINGIES
	********
	тени, рюшечки, вензеля и т.п.
*/
/* используется в кабинете */
/*
	STUB
	****
	картинки для заглушки, в "прод" не идут
*/
/*
	======
	COLORS
	======
*/
/*
	ЗНАЧЕНИЯ
	ТОЧЕК
	СЛОМА
*/
/* DESKTOP */
/* TABLET ALBUM */
/* TABLET PORTRAIT */
/* MOBILE ALBUM */
/* MOBILE PORTRAIT */
/*@mobile_p-min: px;*/
/*
	ПРАВИЛА
	ДЛЯ
	@MEDIA-ВЫРАЖЕНИЙ
*/
.index-filter {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #cccbca;
  box-shadow: 0 1px 0 0 #efefef;
  background-color: #fff;
}
.index-filter__header {
  border-bottom: 1px solid #cccbca;
  box-shadow: 0 1px 0 0 #efefef;
  text-transform: uppercase;
  text-align: center;
  font: 400 16px/44px 'Circe';
  color: #ed3030;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .index-filter {
    /*display: none;*/
    height: 100px;
  }
  .index-filter__inner {
    height: 100px;
  }
  .index-filter__header {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    display: inline-block;
    width: 250px;
    /*height: 100%;*/
    border-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .index-filter__header {
    position: relative;
    cursor: pointer;
  }
  .index-filter__header:after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background: transparent url('../img/sprites/pcard_icos_sprite.png') -4px -271px no-repeat;
  }
  .index-filter__header--active:after {
    -ms-background-position-y: -336px;
    background-position-y: -336px;
  }
  .index-filter__inner {
    width: 100%;
  }
}
.filter-mini {
  font-size: 0;
}
.filter-mini .form__field-select {
  padding-left: 15px;
  padding-right: 30px;
}
.filter-mini__row {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: right;
}
.filter-mini__row--even {
  text-align: left;
}
.filter-mini__row--button {
  position: relative;
  top: 3px;
  z-index: 2;
  /*height: 37px;*/
  width: 100%;
}
.filter-mini-option {
  display: inline-block;
  height: 30px;
  width: 150px;
}
@media screen and (min-width: 1025px) {
  .filter-mini {
    position: relative;
    vertical-align: top;
    /*display: inline-block;*/
    width: 360px;
    margin: 10px auto;
  }
  .filter-mini__row {
    height: 40px;
    width: 180px;
    padding: 5px 0;
    text-align: center;
  }
  .filter-mini__row__even {
    text-align: center;
  }
  .filter-mini__row--button {
    position: absolute;
    top: 50%;
    right: -180px;
    margin-top: -20px;
    width: 150px;
  }
  .filter-mini-option {
    height: 30px;
  }
  .filter-mini-option .form__field-ico {
    height: 28px;
  }
  .filter-mini-option:hover .form__field-ico {
    -ms-background-position-x: -33px;
    background-position-x: -33px;
  }
  .filter-mini-option .field-icons-4 {
    background-position: 4px -108px;
  }
  .filter-mini-submit {
    width: 120px;
    height: 30px;
    font-size: 11px;
    line-height: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .filter-mini {
    height: 0;
    overflow: hidden;
  }
  .filter-mini--opened {
    height: auto;
  }
  .filter-mini-option {
    margin-left: 25px;
    margin-right: 25px;
  }
  .filter-mini-option .form__field-ico {
    width: 37px;
    background-image: url('../img/sprites/sprite__form-icos_37x35.png');
    background-position: 4px -108px;
  }
  .filter-mini-option:hover .form__field-ico {
    -ms-background-position-x: -33px;
    background-position-x: -33px;
  }
  .filter-mini-submit {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media screen and (max-width: 479px) {
  .filter-mini .form__field {
    width: 275px;
    height: 48px;
    margin: 0 auto;
  }
  .filter-mini .form__field-select {
    font: 300 14px/48px 'Circe';
    color: #666;
  }
  .filter-mini__row {
    display: block;
    width: 100%;
    text-align: center;
  }
  .filter-mini__row--even {
    text-align: center;
  }
  .filter-mini-option .form__field-ico {
    width: 50px;
    background-image: url('../img/sprites/sprite__form-icos_50x48.png');
    background-position: 0 -146px;
  }
  .filter-mini-option:hover .form__field-ico {
    -ms-background-position-x: -50px;
    background-position-x: -50px;
  }
}
/*
	infoblock
*/
.infoblock {
  padding: 55px 0;
  background-color: #f9f9fb;
}
@media screen and (min-width: 1025px) {
  .infoblock {
    /*background: url(@img-thingies-infoblock) center top no-repeat;*/
  }
}
@media (max-width: 999px) {
  .infoblock {
    /*background: url('/bitrix/templates/zoloto/images/bg_0.jpg') left top repeat;*/
  }
}
@media (max-width: 749px) {
  .infoblock {
    /*background: url('/bitrix/templates/zoloto/images/bg_0.jpg') left top repeat;*/
  }
}
@media (max-width: 619px) {
  .infoblock {
    /*background: url('/bitrix/templates/zoloto/images/bg_0.jpg') left top repeat;*/
    padding-bottom: 25px;
  }
}
@media (max-width: 479px) {
  .infoblock {
    padding-bottom: 0;
  }
}
.infoblock .text {
  margin-top: 35px;
}
.infoblock .text p {
  font-family: Verdana;
  font-size: 11px;
  color: #7e7e7e;
}
@media (max-width: 1019px) {
  .infoblock .text {
    display: none;
  }
}
.infoblock .wrp2 {
  max-width: 1165px;
  margin: 0 auto;
  text-align: center;
}
.infoblock .row {
  margin-left: -6px;
  margin-right: -6px;
}
.infoblock .item {
  float: left;
  padding: 0 6px;
}
.infoblock .item-inner {
  background: #fff;
  padding: 8px 8px 0;
  width: 325px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.infoblock .item-inner .caption {
  display: table-cell;
  vertical-align: middle;
  width: 646px;
  height: 65px;
}
.infoblock .item-inner.long .caption {
  height: 112px;
}
.infoblock .item-inner p {
  font-size: 10px;
  color: #2f2f2f;
  margin: 0px 0 5px;
  line-height: 1.3;
}
.infoblock .item-inner a {
  font-size: 12px;
  color: #707070;
  text-decoration: underline;
}
.infoblock .item-inner a:hover {
  text-decoration: none;
}
.infoblock .item .text-block {
  width: 325px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  color: #635b5b;
  line-height: 1.2;
  padding: 60px 0 80px;
  position: relative;
}
.infoblock .item .text-block:before,
.infoblock .item .text-block:after {
  content: '';
  display: block;
  width: 29px;
  height: 25px;
  background: url(../images/infoblock/kov.png) no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.infoblock .item .text-block:before {
  top: 14px;
}
.infoblock .item .text-block:after {
  bottom: 25px;
  background-position: bottom;
}
.infoblock .item .text-block span {
  display: block;
  font-size: 28px;
  font-family: 'Helvetica LightItalic';
  margin-bottom: 15px;
}
.infoblock .item .text-block p {
  font-size: 15px;
  font-family: 'Circe-Bold';
  font-style: italic;
  margin-bottom: 20px;
}
.infoblock .item .text-block small {
  font-size: 11px;
}
.infoblock .item.wide .item-inner {
  width: 663px;
}
.infoblock #main-sl3 {
  display: none !important;
}
.infoblock #main-sl3 .item-inner:last-child {
  margin-bottom: 4px;
}
.infoblock #main-sl3 .owl-pagination {
  display: none;
}
.infoblock #main-sl3 .owl-buttons {
  position: static;
}
.infoblock #main-sl3 .owl-buttons div {
  top: 50%;
  margin-top: -25px;
}
@media (min-width: 1400px) {
  .infoblock .wrp2 {
    width: 100%;
  }
  .infoblock .row {
    margin-left: -25px;
    margin-right: -25px;
    position: relative;
  }
  .infoblock .item {
    padding: 0 25px;
  }
  .infoblock .item .text-block {
    width: 415px;
    position: absolute;
  }
  .infoblock .item:nth-child(3) .item-inner + .item-inner {
    position: relative;
    left: 85px;
  }
  .infoblock .item:nth-child(1) .item-inner + .item-inner,
  .infoblock .item:nth-child(4) {
    position: relative;
    left: 86px;
  }
}
@media (min-width: 1020px) and (max-width: 1399px) {
  .infoblock .wrp2 {
    width: 1000px;
  }
  .infoblock .item .text-block span {
    font-size: 25px;
    font-family: 'Helvetica Roman';
  }
}
@media (max-width: 1019px) {
  .infoblock .wrp2 {
    width: 666px;
  }
  .infoblock .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .infoblock .item {
    padding: 0 8px;
  }
  .infoblock .item .text-block {
    display: none;
  }
}
@media (max-width: 749px) {
  .infoblock .wrp2 {
    width: 592px;
  }
  .infoblock .row {
    margin-left: -4px;
    margin-right: -4px;
  }
  .infoblock .item {
    padding: 0 4px;
  }
  .infoblock .item-inner {
    width: 292px;
    margin-bottom: 7px;
    padding: 5px 5px 0;
  }
  .infoblock .item-inner img {
    width: 100%;
    height: auto;
  }
  .infoblock .item-inner iframe {
    height: 161px;
  }
  .infoblock .item-inner.long .caption {
    height: 101px;
  }
  .infoblock .item.wide .item-inner {
    width: 592px;
  }
}
@media (max-width: 619px) {
  .infoblock .wrp2 {
    display: none;
  }
  .infoblock #main-sl3 {
    display: block !important;
  }
}
@media (max-width: 479px) {
  .infoblock #main-sl3 .owl-controls {
    position: relative;
    height: 60px;
    background: #fff;
    width: 100%;
    border-top: 1px solid #cccbca;
    margin-top: 20px;
  }
  .infoblock #main-sl3 .owl-pagination {
    display: block;
  }
  .infoblock #main-sl3 .owl-pagination {
    bottom: 23px;
  }
  .infoblock #main-sl3 .owl-pagination .owl-page {
    position: relative;
    z-index: 5;
  }
  .infoblock #main-sl3 .owl-buttons {
    top: auto;
    margin-top: 0;
    bottom: 50px;
  }
  .infoblock #main-sl3 .owl-buttons div {
    width: 40px;
    height: 40px;
    background-size: 80px 80px;
    margin-top: -20px;
  }
}
