/*
	images
*/
/*
	fonts
*/
/*@global-fonts-path: 'http://zoloto585.ru/bitrix/templates/zoloto/css/fonts/';*/
/*
	ЗНАЧЕНИЯ
	ТОЧЕК
	СЛОМА
*/
/* DESKTOP */
/* TABLET ALBUM */
/* TABLET PORTRAIT */
/* MOBILE ALBUM */
/* MOBILE PORTRAIT */
/*@mobile_p-min: px;*/
/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/
/*
	Circe
*/
/*
	Circe Rounded
*/
/*
	Helvetica Neue
*/
/*	=================================
	=================================
	=====                       =====
	=====  ПОДКЛЮЧЕНИЕ ШРИФТОВ  =====
	=====                       =====
	=================================
	=================================
*/
/*
	Circe
*/
/* Circe Regular */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: local('Circe-Regular'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* Circe Light */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.eot');
  src: local('Circe-Regular'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype'), url('../fonts/Circe-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* Circe Bold */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot');
  src: local('Circe-Regular'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/*
	Circe Rounded
*/
/* Circe Rounded Regular */
@font-face {
  font-family: 'Circe Rounded';
  src: url('../fonts/CirceRounded Regular.eot');
  src: local('Circe-Regular'), url('../fonts/CirceRounded Regular.woff') format('woff'), url('../fonts/CirceRounded Regular.ttf') format('truetype'), url('../fonts/CirceRounded Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/*
	Helvetica Neue
*/
/*Light*/
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneuecyr-light.eot');
  src: local('Circe-Regular'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneuecyr-bold.eot');
  src: local('Circe-Regular'), url('../fonts/helveticaneuecyr-bold.woff') format('woff'), url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), url('../fonts/helveticaneuecyr-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
/*
	"SECTIONS"
*/
.section {
  width: 100%;
  position: relative;
}
.section__inner {
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
}
.section__inner:before,
.section__inner:after {
  content: " ";
  display: table;
}
.section__inner:after {
  clear: both;
}
/*@tablet Album*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__inner {
    width: 750px;
  }
}
/*@tablet Portrait*/
@media screen and (min-width: 640px) and (max-width: 767px) {
  .section__inner {
    width: 620px;
  }
}
/*@mobile Album*/
@media screen and (min-width: 480px) and (max-width: 639px) {
  .section__inner {
    width: 460px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .section__inner {
    width: 300px;
  }
}
/* END-of-"SECTIONS" */
/*
	"HORIZONTAL GRIDS"

	25%
	33.3%
	50%
	66.5%
	75%
	100%
*/
.section__column_25,
.section__column_33,
.section__column_50,
.section__column_66,
.section__column_75,
.section__column_100 {
  float: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section__column_25 {
  width: 25%;
}
.section__column_33 {
  width: 33.3%;
}
.section__column_50 {
  width: 50%;
}
.section__column_66 {
  width: 66.6%;
}
.section__column_75 {
  width: 75%;
}
.section__column_100 {
  width: 100%;
}
/*
	FORMS PATTERN
*/
/*
	поле ввода типа 'input text'
*/
/*@field-ico*/
.form__field {
  position: relative;
  display: block;
  width: 100%;
  height: 37px;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  font-size: 0;
  /*область с иконкой-метафорой поля*/
  /* место куда вводится текст */
}
.form__field-ico {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  width: 37px;
  height: 100%;
  border-right: 1px solid #e2e2e2;
  background-image: url('../img/sprites/sprite__form-icos_37x35.png');
  background-repeat: no-repeat;
  background-color: #f1f1f1;
}
.form__field-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 15px 0 50px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font: 14px/37px 'Circe-Regular';
  color: #999;
}
/* активное состояние поля */
.form__field:hover,
.form__field:focus,
.form__field_active,
.form__field.active,
.form__field_focus,
.form__field.focus {
  border: 1px solid #b32024;
}
.form__field:hover .form__field-ico,
.form__field:focus .form__field-ico,
.form__field_active .form__field-ico,
.form__field.active .form__field-ico,
.form__field_focus .form__field-ico,
.form__field.focus .form__field-ico {
  border-right: 1px solid #b32024;
  -ms-background-position-x: -37px;
  background-position-x: -37px;
}
/* прошедшее валидацию поле */
.form__field_valid_true .form__field-ico,
.form__field.valid_true .form__field-ico,
.form__field.valid-true .form__field-ico {
  -ms-background-position-y: -70px;
  background-position-y: -70px;
}
/* непрошедшее валидацию поле */
/* распределение иконок из спрайта(по вертикали) по селекторам */
.field-icons-1 {
  background-position: 0 0;
}
.field-icons-2 {
  background-position: 0 -35px;
}
@media screen and (max-width: 767px) {
  .form__field {
    height: 50px;
    /*область с иконкой-метафорой поля*/
    /* место куда вводится текст */
  }
  .form__field-ico {
    width: 50px;
    background-image: url('../images/sprite__form-icos_50x48.png');
  }
  .form__field-input {
    padding: 0 15px 0 65px;
    font: 14px/50px 'Circe-Regular';
  }
  /* активное состояние поля */
  .form__field:hover .form__field-ico,
  .form__field:focus .form__field-ico,
  .form__field_active .form__field-ico,
  .form__field.active .form__field-ico,
  .form__field_focus .form__field-ico,
  .form__field.focus .form__field-ico {
    -ms-background-position-x: -50px;
    background-position-x: -50px;
  }
  /* распределение иконок из спрайта(по вертикали) по селекторам */
  .field-icons-1 {
    background-position: 0 0;
  }
  .field-icons-2 {
    background-position: 0 -50px;
  }
}
/*
	кнопка отправки в форме типа 'input submit'
*/
.form__button {
  width: 100%;
  height: 37px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  background-color: #ed3030;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font: 14px/37px 'Circe-Regular';
  color: #faf1f2;
  /*safari, iOS*/
  -webkit-appearance: none;
}
.form__button:hover {
  background-color: #b32024;
}
@media screen and (max-width: 767px) {
  .form__button {
    height: 50px;
    line-height: 50px;
  }
}
.header-top {
  height: 45px;
  background-color: #e61725;
  border-bottom: 1px solid #eaeaea;
  font-size: 0;
}
.header-top__inner {
  height: 100%;
}
.header-top__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-top__item:after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  content: '';
  display: block;
  height: 100%;
  border-left: 1px solid #f71b29;
  border-right: 1px solid #d01320;
}
.header-top__item:last-child:after {
  border: 0;
}
.header-top__item--phone {
  /*width: 450px;*/
  text-align: center;
}
.top-sandwich,
.top-geo,
.top-phone,
.top-favorites,
.top-bonuses,
.top-user,
.top-jewelry,
.top-lombards,
.top-address {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 11px/47px 'Circe';
  color: #fff;
  cursor: pointer;
}
.top-sandwich:before,
.top-geo:before,
.top-phone:before,
.top-favorites:before,
.top-bonuses:before,
.top-user:before,
.top-jewelry:before,
.top-lombards:before,
.top-address:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 0 no-repeat;
}
.top-sandwich {
  width: 47px;
}
.top-sandwich:before {
  -ms-background-position-y: 0;
  background-position-y: 0;
}
.top-sandwich--active:before {
  -ms-background-position-x: -20px;
  background-position-x: -20px;
}
.top-geo {
  width: 47px;
}
.top-geo:before {
  -ms-background-position-y: -20px;
  background-position-y: -20px;
}
.top-phone {
  width: 150px;
  margin: 0 150px;
  padding-left: 40px;
  /*font-size: 15px;*/
  font: 300 15px/45px 'Helvetica Neue';
  color: #fff;
}
.top-phone:before {
  left: 0;
  margin-left: 4px;
  -ms-background-position-y: -42px;
  background-position-y: -42px;
}
.top-favorites {
  width: 50px;
  padding-left: 25px;
  text-align: center;
}
.top-favorites:before {
  margin-left: -20px;
  -ms-background-position-y: -60px;
  background-position-y: -60px;
}
.top-bonuses {
  width: 75px;
  padding-left: 25px;
}
.top-bonuses:before {
  left: 13px;
  -ms-background-position-y: -80px;
  background-position-y: -80px;
}
.top-user {
  width: 70px;
}
.top-user:before {
  left: 27px;
  width: 50%;
  -ms-background-position-y: -100px;
  background-position-y: -100px;
}
.top-user:after {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -120px no-repeat;
}
.top-jewelry:before,
.top-lombards:before,
.top-address:before {
  display: none;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .header-top__item--show-only-touchversion {
    display: none;
  }
}
/*
	NO DESKTOP
*/
@media screen and (max-width: 1024px) {
  .header-top__item--show-only-desktopversion {
    display: none;
  }
  .top-geo,
  .top-user {
    font-size: 0;
  }
}
/*@tablet Album*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__inner {
    width: 750px;
  }
}
/*@tablet Portrait*/
@media screen and (min-width: 640px) and (max-width: 767px) {
  .top-phone {
    width: 150px;
    margin-left: 100px;
    margin-right: 75px;
    padding-left: 40px;
  }
}
/*@mobile Album*/
@media screen and (min-width: 480px) and (max-width: 639px) {
  .top-phone {
    width: 143px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 30px;
  }
  .top-phone:before {
    margin-left: 0;
  }
  .top-user {
    width: 60px;
  }
  .top-user:before {
    left: 20px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .header-top__item {
    width: 50px;
  }
  .top-sandwich,
  .top-geo,
  .top-phone,
  .top-favorites,
  .top-bonuses,
  .top-user {
    width: 47px;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .top-sandwich:before,
  .top-geo:before,
  .top-phone:before,
  .top-favorites:before,
  .top-bonuses:before,
  .top-user:before {
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }
  .top-user:before {
    left: 13px;
  }
  .top-user:after {
    right: 0;
  }
}
.header-middle {
  height: 55px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #cfcfcf;
}
.header-middle__logo {
  float: left;
  display: block;
  width: 175px;
  height: 34px;
  margin-top: 10px;
  margin-left: 15px;
}
.header-middle__logo img {
  width: 100%;
  height: 100%;
}
.header-middle__bar {
  float: right;
  display: block;
  margin-top: 11px;
  margin-right: 9px;
  background: #fbfeff;
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
  border-radius: 2px;
  box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.3);
  font-size: 0;
}
.header-middle__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 28px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 37px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font: 400 10px/33px 'Circe';
  color: #666;
}
.header-middle__button:before {
  position: absolute;
  top: 50%;
  left: 11px;
  margin-top: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -140px no-repeat;
}
.header-middle__button--sale:before {
  margin-top: -11px;
  -ms-background-position-y: -140px;
  background-position-y: -140px;
}
.header-middle__button--promo {
  border-right: 1px solid rgba(207, 207, 207, 0.5);
}
.header-middle__button--promo:before {
  -ms-background-position-y: -160px;
  background-position-y: -160px;
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .header-middle__bar {
    display: none;
  }
  .header-middle__logo {
    float: none;
    margin: 10px auto;
  }
}
.header-bottom {
  height: 300px;
  background: transparent url('../img/long_horiz_shadow.png') center -1px no-repeat;
}
.top-nav {
  display: none;
  background-color: #ed3030;
}
.top-nav--active {
  display: block;
}
.top-nav__button {
  position: relative;
  display: block;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #ed3030;
  text-transform: uppercase;
  font: 400 11px/45px 'Circe Rounded';
  color: #fff;
  cursor: pointer;
}
.top-nav__button:after {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -180px no-repeat;
}
.top-nav__button--active:after {
  -ms-background-position-x: -20px;
  background-position-x: -20px;
}
.top-nav__list {
  list-style: none;
  /*display: none;*/
  display: block;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #8a2226;
  border-top: 1px solid #da252c;
  border-bottom: 1px solid #fb3036;
}
.top-nav__list--active {
  /*display: block;*/
  height: auto;
}
.top-nav__item {
  display: block;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #97292d;
  border-bottom: 1px solid #7a1e21;
}
.top-nav__item a {
  display: block;
  height: 100%;
  margin: 0 auto;
  text-decoration: none;
  font: 400 11px/45px 'Circe Rounded';
  color: #fff;
}
/* DESKTOP */
@media screen and (min-width: 1025px) {
  .top-nav {
    display: none;
  }
  .top-nav--active {
    display: none;
  }
}
/*@tablet Album*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*выравнивание "внутренностей" меню*/
  .top-nav__button {
    width: 750px;
  }
  .top-nav__item a {
    width: 750px;
  }
}
/*@tablet Portrait*/
@media screen and (min-width: 640px) and (max-width: 767px) {
  /*выравнивание "внутренностей" меню*/
  .top-nav__button {
    width: 620px;
  }
  .top-nav__item a {
    width: 620px;
  }
}
/*@mobile Album*/
@media screen and (min-width: 480px) and (max-width: 639px) {
  /*выравнивание "внутренностей" меню*/
  .top-nav__button {
    width: 460px;
  }
  .top-nav__item a {
    width: 460px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  /*выравнивание "внутренностей" меню*/
  .top-nav__button {
    width: 300px;
  }
  .top-nav__item a {
    width: 300px;
  }
}
