/*
	======
	IMAGES
	======
*/
/*
	=====
	FONTS
	=====
*/
/*
	===
	SVG
	===
*/
.index-slider {
  height: 449px;
}
.index-slider__inner {
  height: 449px;
  background: transparent url('../img/stub/index_stub__460px__index-slider.jpg') center 0 no-repeat;
}
.showcase {
  height: 947px;
}
.showcase__inner {
  height: 947px;
  background: transparent url('../img/stub/index_stub__460px__showcase.jpg') center 0 no-repeat;
}
.index-info {
  height: 546px;
}
.index-info__inner {
  height: 546px;
  background: transparent url('../img/stub/index_stub__460px__index-info.jpg') center 0 no-repeat;
}
.footer-all {
  height: 311px;
}
.footer-all__inner {
  height: 311px;
  background: transparent url('../img/stub/index_stub__460px__footer-all.jpg') center 0 no-repeat;
}
/* .header-bottom {
	height: 10px;
} */
/************************************************
******* ГРУППЫ СВОЙСТВ **************************
*************************************************/
/*display*/
.-dn- {
  display: none;
}
.-db- {
  display: block;
}
.-dib- {
  display: inline-block;
}
.-di- {
  display: inline;
}
.-dt- {
  display: table;
}
.-dtc- {
  display: table-cell;
}
.-dtr- {
  display: table-row;
}
/*----------end;display---------------------------------*/
/*box-sizing*/
/*----------end;box-sizing---------------------------------*/
/*position*/
/*----------end;position---------------------------------*/
/*text*/
.-tal- {
  text-align: left;
}
.-tac- {
  text-align: center;
}
.-tar- {
  text-align: right;
}
.-taj- {
  text-align: justify;
}
.-tdn- {
  text-decoration: none;
}
.-tdu- {
  text-decoration: underline;
}
.-tdl- {
  text-decoration: line-through;
}
.-tdo- {
  text-decoration: overline;
}
.-ttu- {
  text-transform: uppercase;
}
.-ttl- {
  text-transform: lowercase;
}
.-ttc- {
  text-transform: capitalize;
}
.-ttn- {
  text-transform: none;
}
.-toc- {
  -ms-text-overflow: clip;
  text-overflow: clip;
}
.-toe- {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*------------------end;text---------------------------------*/
/*border*/
/*-----------------------------------end;border---------------------------------*/
/*border-radius*/
/*----------end;border-radius---------------------------------*/
/*background*/
/*background: [background-attachment || background-color || background-image || background-position || background-repeat] | inherit;*/
.-cover- {
  -webkit-background-size: cover;
  background-size: cover;
}
.-contain- {
  -webkit-background-size: contain;
  background-size: contain;
}
/*----------end;background---------------------------------*/
/*box-shadow*/
.-bxshadn- {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*----------end;box-shadow---------------------------------*/
/*********************************************
********* UI-элементы и модификации***********
*********************************************/
/* Box */
/*.-box-bg-() {}*/
/*
	миксин для определения нестандартного шрифта для @font-face
*/
/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/
/*
	Circe
*/
/*
	Circe Rounded
*/
/*
	Helvetica Neue
*/
/*
	SPRITES
	*******
	спрайты, много маленьких изображений склеенных в одну картинку
*/
/*
	PATTERNS
	********
	паттерны узоров/текстур, фоновые картинки не имеющие ярко выраженный смысл композиции
*/
/*@img-pattern-...*/
/*
	PRINTS
	******
	принты, большие фоны, иллюстрации, фотофоны, выражена композиция картинки
*/
/* @img-prints-middle-1: '@{img-prints}/'; */
/*@img-prints-large-1: '@{img-prints}/';*/
/*
	THINGIES
	********
	тени, рюшечки, вензеля и т.п.
*/
/*
	STUB
	****
	картинки для заглушки, в "прод" не идут
*/
/*
	======
	COLORS
	======
*/
/*
	ЗНАЧЕНИЯ
	ТОЧЕК
	СЛОМА
*/
/* DESKTOP */
/* TABLET ALBUM */
/* TABLET PORTRAIT */
/* MOBILE ALBUM */
/* MOBILE PORTRAIT */
/*@mobile_p-min: px;*/
/*
	ПРАВИЛА
	ДЛЯ
	@MEDIA-ВЫРАЖЕНИЙ
*/
/*	=================================
	=================================
	=====                       =====
	=====  ПОДКЛЮЧЕНИЕ ШРИФТОВ  =====
	=====                       =====
	=================================
	=================================
*/
/*
	Circe
*/
/* Circe Regular */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: local('Circe-Regular'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* Circe Light */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.eot');
  src: local('Circe-Regular'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype'), url('../fonts/Circe-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* Circe Bold */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot');
  src: local('Circe-Regular'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/*
	Circe Rounded
*/
/* Circe Rounded Regular */
@font-face {
  font-family: 'Circe Rounded';
  src: url('../fonts/CirceRounded Regular.eot');
  src: local('Circe-Regular'), url('../fonts/CirceRounded Regular.woff') format('woff'), url('../fonts/CirceRounded Regular.ttf') format('truetype'), url('../fonts/CirceRounded Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/*
	Helvetica Neue
*/
/*Light*/
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneuecyr-light.eot');
  src: local('Circe-Regular'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneuecyr-bold.eot');
  src: local('Circe-Regular'), url('../fonts/helveticaneuecyr-bold.woff') format('woff'), url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), url('../fonts/helveticaneuecyr-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
/*
	"SECTIONS"
*/
.section {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section__inner {
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
}
.section__inner:before,
.section__inner:after {
  content: " ";
  display: table;
}
.section__inner:after {
  clear: both;
}
/*@tablet Album*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__inner {
    width: 750px;
  }
}
/*@tablet Portrait*/
@media screen and (min-width: 640px) and (max-width: 767px) {
  .section__inner {
    width: 620px;
  }
}
/*@mobile Album*/
@media screen and (min-width: 480px) and (max-width: 639px) {
  .section__inner {
    width: 460px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .section__inner {
    width: 300px;
  }
}
/* END-of-"SECTIONS" */
/*
	"HORIZONTAL GRIDS"

	25%
	33.3%
	50%
	66.5%
	75%
	100%
*/
.section__column_25,
.section__column_33,
.section__column_50,
.section__column_66,
.section__column_75,
.section__column_100 {
  float: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section__column_25 {
  width: 25%;
}
.section__column_33 {
  width: 33.3%;
}
.section__column_50 {
  width: 50%;
}
.section__column_66 {
  width: 66.6%;
}
.section__column_75 {
  width: 75%;
}
.section__column_100 {
  width: 100%;
}
/*
	FORMS PATTERN
*/
/*
	поле ввода типа 'input text'
*/
/*@field-ico*/
.form__field {
  position: relative;
  display: block;
  width: 100%;
  height: 37px;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  font-size: 0;
  /*область с иконкой-метафорой поля*/
  /* место куда вводится текст */
  /* select */
}
.form__field-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 15px 0 50px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font: 14px/37px 'Circe-Regular';
  color: #999;
}
.form__field-select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  /*padding: @field-inner-padding;*/
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font: 14px/37px 'Circe-Regular';
  color: #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
.form {
  /*&__field- {}*/
  /*&__field- {}*/
  /*&__field- {}*/
}
.form__field-ico {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  width: 37px;
  height: 100%;
  border-right: 1px solid #e2e2e2;
  background-image: url('../img/sprites/sprite__form-icos_37x35.png');
  background-repeat: no-repeat;
  background-color: #f1f1f1;
}
.form__field-ico--select-arrow {
  left: auto;
  right: 0;
  z-index: 0;
  border: 0;
  background-color: transparent;
}
.form__field-select {
  font: 400 10px/32px 'Circe';
  color: #666;
}
/* активное состояние поля */
.form__field:hover,
.form__field:focus,
.form__field--active,
.form__field--focus,
.form__field_active,
.form__field_focus,
.form__field.active,
.form__field.focus {
  border: 1px solid #b32024;
}
.form__field:hover .form__field-ico,
.form__field:focus .form__field-ico,
.form__field--active .form__field-ico,
.form__field--focus .form__field-ico,
.form__field_active .form__field-ico,
.form__field_focus .form__field-ico,
.form__field.active .form__field-ico,
.form__field.focus .form__field-ico {
  border-right: 1px solid #b32024;
  -ms-background-position-x: -37px;
  background-position-x: -37px;
}
.form__field:hover .form__field-ico--select-arrow,
.form__field:focus .form__field-ico--select-arrow,
.form__field--active .form__field-ico--select-arrow,
.form__field--focus .form__field-ico--select-arrow,
.form__field_active .form__field-ico--select-arrow,
.form__field_focus .form__field-ico--select-arrow,
.form__field.active .form__field-ico--select-arrow,
.form__field.focus .form__field-ico--select-arrow {
  border: 0;
}
/* прошедшее валидацию поле */
.form__field--valid_true .form__field-ico,
.form__field_valid_true .form__field-ico,
.form__field.valid_true .form__field-ico,
.form__field.valid-true .form__field-ico {
  -ms-background-position-y: -70px;
  background-position-y: -70px;
}
/* непрошедшее валидацию поле */
/* распределение иконок из спрайта(по вертикали) по селекторам */
.field-icons-1 {
  background-position: 0 0;
}
/* человек, юзер */
.field-icons-2 {
  background-position: 0 -35px;
}
/* конверт */
.field-icons-4 {
  background-position: 0 -105px;
}
/* стрелка для селеста */
@media screen and (max-width: 767px) {
  /*@field-icons-url: '../images/sprite__form-icos_50x48.png';*/
  .form__field {
    height: 50px;
    /*область с иконкой-метафорой поля*/
    /* место куда вводится текст */
  }
  .form__field-ico {
    width: 50px;
    background-image: url('../img/sprites/sprite__form-icos_50x48.png');
  }
  .form__field-input {
    padding: 0 15px 0 65px;
    font: 14px/50px 'Circe-Regular';
  }
  /* активное состояние поля */
  .form__field:hover .form__field-ico,
  .form__field:focus .form__field-ico,
  .form__field_active .form__field-ico,
  .form__field.active .form__field-ico,
  .form__field_focus .form__field-ico,
  .form__field.focus .form__field-ico {
    -ms-background-position-x: -50px;
    background-position-x: -50px;
  }
  /* распределение иконок из спрайта(по вертикали) по селекторам */
  .field-icons-1 {
    background-position: 0 0;
  }
  /* человек, юзер */
  .field-icons-2 {
    background-position: 0 -50px;
  }
  /* конверт */
}
@media screen and (max-width: 1024px) {
  .field-icons-4 {
    background-position: 10px -154px;
  }
  /* стрелка для селекта */
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .field-icons-4 {
    background-position: 0 -146px;
  }
  /* стрелка для селекта */
}
/*
	кнопка отправки в форме типа 'input submit'
*/
.button,
.form__button {
  width: 100%;
  height: 37px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  background-color: #ed3030;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font: 400 14px/40px 'Circe';
  color: #fff;
  /*safari, iOS*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button:hover,
.form__button:hover {
  background-color: #b32024;
}
@media screen and (max-width: 767px) {
  .form__button {
    height: 50px;
    line-height: 50px;
  }
}
/* HEADER-TOP  @IMPORT */
/*"header-top"*/
.header-top {
  height: 45px;
  background-color: #ed3030;
  border-bottom: 1px solid #eaeaea;
  font-size: 0;
}
.header-top__inner {
  display: table;
  height: 100%;
}
.header-top__item {
  position: relative;
  display: table-cell;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-top__item:after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  content: '';
  display: block;
  border-left: 1px solid #db2a2a;
  border-right: 1px solid #fb3535;
}
.header-top__item:last-child:after {
  border: 0;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .header-top {
    height: 32px;
  }
  .header-top__item {
    height: 31px;
    text-align: center;
  }
  .header-top__item:after {
    height: 31px;
  }
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .header-top--position_fixed {
    position: fixed;
    top: 0;
    z-index: 9995;
  }
  .header-top__inner {
    width: 100%;
  }
  .header-top__item {
    height: 44px;
  }
  .header-top__item:after {
    height: 44px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .header-top__item {
    width: 16.6%;
  }
}
/*
	"header-top";end





*/
/* "top-sandwich" */
.top-sandwich {
  width: 50px;
}
.top-sandwich__button {
  position: relative;
  width: 50px;
  height: 100%;
  cursor: pointer;
}
.top-sandwich__button span {
  position: relative;
  display: none;
  padding-left: 10px;
  text-transform: uppercase;
  font: 400 10px/46px 'Circe Rounded';
  color: #c2332f;
}
.top-sandwich__button span:after {
  position: absolute;
  bottom: 16px;
  content: '';
  display: block;
  width: 88px;
  border-top: 1px dotted #c2332f;
}
.top-sandwich__button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 0 no-repeat;
}
.top-sandwich__button--active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 300px;
  height: 45px;
}
.top-sandwich__button--active span {
  display: block;
}
.top-sandwich__button--active:before {
  margin-left: 0;
  left: 265px;
  -ms-background-position-x: -20px;
  background-position-x: -20px;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .top-sandwich {
    display: none;
  }
}
/*
	"top-sandwich";end





*/
/* "jewelry" */
.top-jewelry {
  width: 250px;
  font-size: 0;
}
.top-jewelry:hover {
  background-color: #ed3030;
}
.top-jewelry a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 31px;
  width: 150px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f71f1f;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 10px/32px 'Circe';
  color: #fff;
}
.top-jewelry a:last-child {
  width: 100px;
}
.top-jewelry a:hover {
  background-color: #b32023;
}
.top-jewelry a._active {
  background-color: #b32023;
}
.top-jewelry a._active:after {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  bottom: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #eaeaea;
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .top-jewelry {
    display: none;
  }
}
/*
	"jewelry";end





*/
/*"top-shops"*/
.top-shops {
  width: 125px;
  font-size: 0;
}
.top-shops a {
  display: inline-block;
  width: 100%;
  height: 31px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font: 300 10px/32px 'Circe';
  color: #fff;
  cursor: pointer;
}
.top-shops a:hover {
  background-color: #cb2430;
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .top-shops {
    display: none;
  }
}
/*
	"top-shops";end





*/
/*"top-geo"*/
.top-geo__button {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 10px/32px 'Circe';
  color: #fff;
}
.top-geo__button span {
  border-bottom: 1px dotted #b36b6b;
  cursor: pointer;
}
.top-geo__button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -20px no-repeat;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .top-geo {
    width: 125px;
    max-width: 215px;
    /*от переполнения контентом*/
    overflow: hidden;
    /*от переполнения контентом*/
  }
  .top-geo__button {
    height: 31px;
  }
  .top-geo__button:hover {
    background-color: #cb2430;
  }
  .top-geo__button:before {
    display: none;
  }
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .top-geo {
    width: 50px;
  }
  .top-geo__button {
    width: 50px;
    height: 44px;
    font-size: 0;
  }
  .top-geo__button:before {
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .top-geo {
    width: 16.6%;
  }
}
/*
	"top-geo";end





*/
/*"top-phone"*/
.top-phone {
  text-align: center;
}
.top-phone__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 15px/31px 'Helvetica Neue';
  color: #fff;
  cursor: pointer;
}
.top-phone__button:before {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -42px no-repeat;
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .top-phone__button {
    line-height: 45px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .top-phone {
    width: 16.6%;
  }
  .top-phone__button {
    width: 47px;
    font-size: 0;
  }
  .top-phone__button:before {
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }
}
/*
	"top-phone";end





*/
/*"top-favorites"*/
.top-favorites {
  width: 50px;
}
.top-favorites__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 25px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font: 300 11px/45px 'Circe';
  color: #fff;
  cursor: pointer;
}
.top-favorites__button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -22px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -60px no-repeat;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .top-favorites {
    width: 50px;
  }
  .top-favorites__button {
    height: 31px;
    line-height: 32px;
  }
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .top-favorites {
    height: 44px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .top-favorites {
    width: 16.6%;
    text-align: center;
  }
  .top-favorites__button {
    width: 47px;
    padding: 0;
    font-size: 0;
  }
  .top-favorites__button:before {
    margin-left: -10px;
  }
}
/*
	"top-favorites";end





*/
/*"top-bonuses"*/
.top-bonuses {
  width: 75px;
}
.top-bonuses__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 44px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 11px/47px 'Circe';
  color: #fff;
  cursor: pointer;
}
.top-bonuses__button:before {
  position: absolute;
  top: 50%;
  left: 13px;
  margin-top: -10px;
  margin-left: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -80px no-repeat;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .top-bonuses {
    display: none;
  }
}
/*
	TOUCH
*/
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .top-bonuses {
    width: 16.6%;
    text-align: center;
  }
  .top-bonuses__button {
    width: 47px;
    padding: 0;
    font-size: 0;
  }
  .top-bonuses__button:before {
    left: 50%;
    margin-left: -10px;
  }
}
/*
	"top-bonuses";end





*/
/*"top-user"*/
.top-user {
  width: 150px;
}
.top-user__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font: 300 10px/47px 'Circe';
  color: #fff;
  cursor: pointer;
}
.top-user__button:after,
.top-user__button:before {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -100px no-repeat;
}
.top-user__button:after {
  right: 5px;
  background-position: -20px -120px;
}
.top-user__button:before {
  left: 27px;
  width: 50%;
}
.top-user__button--login:after {
  background-position: 0 -120px;
}
/*
	DESKTOP
*/
@media screen and (min-width: 1025px) {
  .top-user:hover {
    background-color: #cb2430;
  }
  .top-user__button {
    height: 31px;
    line-height: 32px;
  }
  .top-user__button:hover {
    background-color: #cb2430;
  }
  .top-user__button:before {
    left: 20px;
  }
}
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .top-user {
    width: 60px;
  }
  .top-user__button {
    width: 60px;
    height: 44px;
    font-size: 0;
  }
}
/*@mobile Album*/
@media screen and (min-width: 480px) and (max-width: 639px) {
  .top-user__button {
    width: 60px;
  }
  .top-user__button:before {
    left: 20px;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .top-user {
    width: 16.6%;
  }
  .top-user__button {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .top-user__button:after {
    right: 0;
  }
  .top-user__button:before {
    left: 5px;
    margin-left: 0;
  }
}
/*
	"top-user";end





*/
/* HEADER-MIDDLE  @IMPORT */
.header-middle {
  height: 55px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #cfcfcf;
}
.header-middle__logo {
  float: left;
  display: block;
  width: 175px;
  height: 34px;
  margin-top: 10px;
  margin-left: 15px;
}
.header-middle__logo img {
  width: 100%;
  height: 100%;
}
.header-middle__bar {
  float: right;
  display: block;
  margin-top: 11px;
  margin-right: 9px;
  background: #fbfeff;
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
  border-radius: 2px;
  box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.3);
  font-size: 0;
}
.header-middle__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 28px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 37px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font: 400 10px/33px 'Circe';
  color: #666;
}
.header-middle__button:hover {
  background-color: #f6f6f6;
}
.header-middle__button:before {
  position: absolute;
  top: 50%;
  left: 11px;
  margin-top: -10px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -140px no-repeat;
}
.header-middle__button--sale {
  border-right: 1px solid rgba(207, 207, 207, 0.5);
}
.header-middle__button--sale:before {
  margin-top: -11px;
  -ms-background-position-y: -140px;
  background-position-y: -140px;
}
.header-middle__button--promo {
  border-right: 1px solid rgba(207, 207, 207, 0.5);
}
.header-middle__button--promo:before {
  -ms-background-position-y: -160px;
  background-position-y: -160px;
}
.header-middle__button--bonuses:before {
  background-position: -20px -80px;
}
/*
	DESKTOP
*/
/* @media screen and (min-width: @desktop-min) {
	.header-middle {

		&__button {
			&--bonuses {
				display: block;
			}
		}
	}
}
 */
/*
	TOUCH
*/
@media screen and (max-width: 1024px) {
  .header-middle {
    margin-top: 45px;
  }
  .header-middle__button--bonuses {
    display: none;
  }
}
/*@mobile Portrait*/
@media screen and (max-width: 479px) {
  .header-middle__bar {
    display: none;
  }
  .header-middle__logo {
    float: none;
    margin: 10px auto;
  }
}
/* HEADER-BOTTOM  @IMPORT */
/* миксин для анимации */
.header-bottom {
  /*height: 1000px;*/
  background: transparent url('../img/thingies/shadow-1.png') center -1px no-repeat;
}
/* TOUCH */
@media screen and (max-width: 1024px) {
  .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9990;
    margin-left: -100%;
    opacity: 0;
    width: 100%;
    /*width: 0;*/
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
  }
  .header-bottom__inner {
    width: 300px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -300px;
    padding-top: 45px;
    padding-bottom: 70px;
    overflow: auto;
    background-color: #ed3030;
    -webkit-transition: margin-left 0.6s ease-in-out;
    -o-transition: margin-left 0.6s ease-in-out;
    transition: margin-left 0.6s ease-in-out;
  }
  .header-bottom__inner--active {
    margin-left: 0;
  }
  .header-bottom--active {
    opacity: 1;
    margin-left: 0;
  }
  .section--offset-left {
    padding-left: 300px;
    overflow: hidden;
  }
  .section {
    -webkit-transition: padding-left 0.6s ease-in-out;
    -o-transition: padding-left 0.6s ease-in-out;
    transition: padding-left 0.6s ease-in-out;
  }
  .header-top.section--offset-left {
    border-color: transparent;
  }
}
/* нулевой уровень вложенности элементов каталога */
/* DESKTOP */
@media screen and (min-width: 1025px) {
  /* нулевой уровень вложенности элементов каталога */
  .main-nav {
    display: none;
  }
}
/* TOUCH */
@media screen and (max-width: 1024px) {
  .main-nav__header {
    position: fixed;
    top: 0;
  }
  .main-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .main-nav__link {
    display: none;
  }
}
/* первый уровень вложенности элементов каталога */
/* DESKTOP */
@media screen and (min-width: 1025px) {
  /* первый уровень вложенности элементов каталога */
}
/* TOUCH */
@media screen and (max-width: 1024px) {
  .main-nav-level-1__header {
    position: relative;
    display: block;
    height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #ed3030;
    text-transform: uppercase;
    font: 400 12px/46px 'Circe Rounded';
    color: #fff;
    cursor: pointer;
  }
  .main-nav-level-1__header:after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -10px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: transparent url('../img/sprites/sprite__header-icons_20x20.png') 0 -180px no-repeat;
  }
  .main-nav-level-1__header--active:after {
    -ms-background-position-x: -20px;
    background-position-x: -20px;
  }
  .main-nav-level-1__list {
    list-style: none;
    display: block;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #c2332f;
    border-top: 1px solid #dc2a2b;
    border-bottom: 1px solid #fb3535;
  }
  .main-nav-level-1__list--active {
    height: auto;
  }
  .main-nav-level-1__item {
    border-bottom: 1px solid #8f2d2a;
    border-top: 1px solid #d0433f;
  }
  .main-nav-level-1__link {
    display: none;
  }
  .main-nav-level-1__link--all-items {
    display: block;
    height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font: 400 10px/45px 'Circe Rounded';
    color: #fff;
  }
}
/* второй уровень вложенности элементов каталога */
/* DESKTOP */
@media screen and (min-width: 1025px) {
  /* второй уровень вложенности элементов каталога */
}
/* TOUCH */
@media screen and (max-width: 1024px) {
  .main-nav-level-2__header {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 19px 10px 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font: 400 10px/11px 'Circe Rounded';
    color: #fff;
    cursor: pointer;
  }
  .main-nav-level-2__header--active {
    border-bottom: 1px solid #d0433f;
  }
  .main-nav-level-2__list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background-color: #c53e3a;
    border-top: 1px solid #8f2d2a;
  }
  .main-nav-level-2__list--active {
    display: block;
  }
  .main-nav-level-2__item {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #d0433f;
    border-bottom: 1px solid #b33b37;
  }
  .main-nav-level-2__item--first-item,
  .main-nav-level-2__item:first-child {
    border-top: 1px solid #af3733;
  }
  .main-nav-level-2__item--last-item,
  .main-nav-level-2__item:last-child {
    border-bottom: 1px solid #af3733;
  }
  .main-nav-level-2__link {
    display: block;
    margin: 0 auto;
    padding: 19px 10px 15px 20px;
    text-decoration: none;
    font: 400 11px/11px 'Circe Rounded';
    color: #fff;
  }
}
/* PAGINATION @IMPORT */
.content_pagination {
  padding: 30px 0;
  box-shadow: 0 2px 1.58px 0.42px rgba(0, 0, 0, 0.15);
}
.pagination_list > li {
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  color: #424242;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  position: relative;
  text-decoration: none;
}
.pagination_list > li a {
  width: 30px;
  height: 28px;
  display: block;
  position: relative;
}
.pagination_list > li.active {
  position: relative;
  cursor: default;
}
.pagination_list > li.active:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;
  border: 2px solid red;
  width: 32px;
  height: 30px;
  z-index: 1;
}
.pagination_list > li.active a:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  bottom: -4px;
  content: "";
  height: 0;
  left: 10px;
  position: absolute;
  width: 0;
  z-index: 11;
}
.pagination_list > li.active:before {
  position: absolute;
  content: '';
  bottom: -6px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f3483e;
}
.pagination_list > li:last-child {
  border-radius: 0 3px 3px 0;
  background: #fafafa;
}
.pagination_list > li:first-child {
  border-radius: 3px 0 0 3px;
  background: #fafafa;
}
.pagination_list > li:first-child span,
.pagination_list > li:last-child span {
  width: 9px;
  height: 14px;
  position: relative;
  top: 6px;
  left: 10px;
  display: block;
  background-image: url(../images/filter_option__checkbox.png);
  background-repeat: no-repeat;
}
.pagination_list > li:first-child span {
  background-position: -16px -32px;
}
.pagination_list > li:last-child span {
  background-position: -25px -32px;
  left: 11px;
}
.content_pagination .pagination_list {
  margin: 0 auto;
  display: block;
}
fieldset.select_type_numbers,
fieldset.select_type_content {
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
  position: absolute;
  top: 0;
}
.content_pagination .wrp {
  position: relative;
}
.content_pagination nav {
  display: inline-block;
}
.content_pagination {
  text-align: center;
}
.select_type_content {
  right: 0;
}
.select_type_numbers {
  left: 0;
}
