/*
	======
	IMAGES
	======
*/
/*
	=====
	FONTS
	=====
*/
/*
	===
	SVG
	===
*/
.index-slider {
  height: 449px;
}
.index-slider__inner {
  height: 449px;
  background: transparent url('../img/stub/index_stub__460px__index-slider.jpg') center 0 no-repeat;
}
.showcase {
  height: 947px;
}
.showcase__inner {
  height: 947px;
  background: transparent url('../img/stub/index_stub__460px__showcase.jpg') center 0 no-repeat;
}
.index-info {
  height: 546px;
}
.index-info__inner {
  height: 546px;
  background: transparent url('../img/stub/index_stub__460px__index-info.jpg') center 0 no-repeat;
}
.footer-all {
  height: 311px;
}
.footer-all__inner {
  height: 311px;
  background: transparent url('../img/stub/index_stub__460px__footer-all.jpg') center 0 no-repeat;
}
/* .header-bottom {
	height: 10px;
} */
/************************************************
******* ГРУППЫ СВОЙСТВ **************************
*************************************************/
/*display*/
.-dn- {
  display: none;
}
.-db- {
  display: block;
}
.-dib- {
  display: inline-block;
}
.-di- {
  display: inline;
}
.-dt- {
  display: table;
}
.-dtc- {
  display: table-cell;
}
.-dtr- {
  display: table-row;
}
/*----------end;display---------------------------------*/
/*box-sizing*/
/*----------end;box-sizing---------------------------------*/
/*position*/
/*----------end;position---------------------------------*/
/*text*/
.-tal- {
  text-align: left;
}
.-tac- {
  text-align: center;
}
.-tar- {
  text-align: right;
}
.-taj- {
  text-align: justify;
}
.-tdn- {
  text-decoration: none;
}
.-tdu- {
  text-decoration: underline;
}
.-tdl- {
  text-decoration: line-through;
}
.-tdo- {
  text-decoration: overline;
}
.-ttu- {
  text-transform: uppercase;
}
.-ttl- {
  text-transform: lowercase;
}
.-ttc- {
  text-transform: capitalize;
}
.-ttn- {
  text-transform: none;
}
.-toc- {
  -ms-text-overflow: clip;
  text-overflow: clip;
}
.-toe- {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*------------------end;text---------------------------------*/
/*border*/
/*-----------------------------------end;border---------------------------------*/
/*border-radius*/
/*----------end;border-radius---------------------------------*/
/*background*/
/*background: [background-attachment || background-color || background-image || background-position || background-repeat] | inherit;*/
.-cover- {
  -webkit-background-size: cover;
  background-size: cover;
}
.-contain- {
  -webkit-background-size: contain;
  background-size: contain;
}
/*----------end;background---------------------------------*/
/*box-shadow*/
.-bxshadn- {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*----------end;box-shadow---------------------------------*/
/*********************************************
********* UI-элементы и модификации***********
*********************************************/
/* Box */
/*.-box-bg-() {}*/
/*
	@mix less
*/
/*
	@mix less
*/
/*
	миксин для определения нестандартного шрифта для @font-face
*/
/*
	БИБЛИОТЕКА СНИППЕТОВ и МИКСИНОВ 
	ДЛЯ РАБОТЫ СО ШРИФТАМИ НА САЙТЕ 585
*/
/*
	Circe
*/
/*
	Circe Rounded
*/
/*
	Helvetica Neue
*/
/*
	SPRITES
	*******
	спрайты, много маленьких изображений склеенных в одну картинку
*/
/* основной спрайт, который содержит много иконок */
/* значкм с доставкой и т.п. в футере */
/* значки соц сетей в футере */
/* значения координат не верные */
/* для личного кабинета */
/*
	PATTERNS
	********
	паттерны узоров/текстур, фоновые картинки не имеющие ярко выраженный смысл композиции
*/
/*@img-pattern-...*/
/*
	PRINTS
	******
	принты, большие фоны, иллюстрации, фотофоны, выражена композиция картинки
*/
/* @img-prints-middle-1: '@{img-prints}/'; */
/*@img-prints-large-1: '@{img-prints}/';*/
/*
	THINGIES
	********
	тени, рюшечки, вензеля и т.п.
*/
/* используется в кабинете */
/*
	STUB
	****
	картинки для заглушки, в "прод" не идут
*/
/*
	======
	COLORS
	======
*/
/*
	ЗНАЧЕНИЯ
	ТОЧЕК
	СЛОМА
*/
/* DESKTOP */
/* TABLET ALBUM */
/* TABLET PORTRAIT */
/* MOBILE ALBUM */
/* MOBILE PORTRAIT */
/*@mobile_p-min: px;*/
/*
	ПРАВИЛА
	ДЛЯ
	@MEDIA-ВЫРАЖЕНИЙ
*/
.page-404__inner {
  padding-bottom: 50px;
}
.page-404-block {
  display: block;
  width: 100%;
  padding-top: 25px;
  text-align: center;
}
.page-404-block--right {
  /*float: right;*/
}
.page-404-block p {
  padding-top: 13px;
  color: darkgrey;
}
@media screen and (max-width: 619px) {
  .page-404-block {
    float: none;
    width: 100%;
  }
}
.page-404-filter .h2 {
  color: #E12A2C;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.minislide .item {
  position: relative;
  width: 49%;
  float: right;
  padding-left: 5px;
  display: inline-block;
  margin-bottom: 5px;
}
.minislide .item img {
  width: 100%;
}
.minislide .item h2 {
  position: absolute;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  bottom: -14px;
  width: 100%;
}
@media screen and (max-width: 619px) {
  .minislide {
    font-size: 0;
  }
  .minislide .item {
    float: none;
    margin: 0;
    padding: .5%;
  }
}
