.profile-field-name {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	padding-left: 5px;

	text-align: left;
	text-transform: uppercase;
	font: 400 10px/30px 'Circe';
	color: #a5a5a5;

}



@media @tablet-under {
	.profile-field-name {
		width: 200px;
		padding: 0;

		line-height: 21px;
		color: #d0d0d0;
	}
}