.profile-field-data {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 30px;
	padding: 3px 5px 3px 35px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #e2dedf;
	border-radius: 2px;
	outline: none;

	font: 300 14px 'Circe';
	color: #666;
}