.profile-field-row {
	position: relative;

	width: 325px;
	height: 58px;
	margin: 0;

	font-size: 0;


	&--warning {

	}
}


@media @tablet-under {
	.profile-field-row {
		position: relative;

		width: 200px;
		padding-top: 7px;
		height: auto;
	}
}