.profile-info {


	&__inner {
		max-width: 850px;
		width: 100%;
		min-width: 200px;
		padding-bottom: 30px;
	}
}


@media @tablet-album {
	.profile-info {


		&__inner {
			width: 725px;
		}
	}
}



@media @tablet-under {
	.profile-info {


		&__inner {
			width: 200px;
			height: auto;
		}
	}
}