.profile-password-submit {
	width: 200px;
	height: 37px;

	background: url("../images/cabinet/button_gradient_bg.png") 0 0 repeat-x;
	border: 1px solid #dedede;
	border-radius: 2px;
	box-shadow:  0px 3px 7px -3px rgba(0, 0, 0, .3);

	text-transform: uppercase;
	text-align: center;
	font: 11px "Circe-Regular";
	color: #666;

	position: absolute;
	top: 112px;
	left: 50%;
	margin-left: -100px;

	cursor: pointer;
}
.profile-password-submit:hover { background: #ed3030; border: 1px solid #ed3030; border-radius: 2px; color: #fff; }

@media screen and (min-width: 600px) and (max-width: 749px) {
	.profile-password-submit {
		left: 50%;
		margin-left: -100px;
	}
}

@media screen and (max-width: 749px) {
	.profile-password-submit { top: 165px; }
}