.profile-password-form {
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -237.5px;

	display: block;
	width: 475px;
}


@media @tablet-portrait {
	.profile-password-form {
		width: 250px;
		margin-left: -125px;
	}
}


@media @mobile-album {
	.profile-password-form {
		width: 250px;
		margin-left: -125px;
	}
}