/*
	КОСТЫЛЬ ДЛЯ ТИЛЬДЫ:
	для всех значений свойств добавлен !important,
	т.к. подключение css-файлов Тильды, происходит ниже по телу html-документа
*/

.prefix_2 { 
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.prefix_5 { padding-left: 460px !important; }/* выравнивание заголовка слева */

.t021 .line { width: 140px !important; }/* линия под и над заголовками */

@media screen and (max-width: 1200px) {
	.prefix_5 { padding-left: 360px !important; }/* выравнивание заголовка слева */
}