.ucab-regform-button {
	position: absolute;
	top: 288px;
	left: 44px;

	width: 210px;
	height: 35px;

	font-size: 12px;
	line-height: 35px;


	@media @tablet-under {
		width: 200px;
		left: 50%;
		margin-left: -100px;
	}
}