.ucab-regform-text {
	position: absolute;
	top: 195px;
	left: 75px;

	display: block;
	width: 175px;
	height: 170px;

	font-size: 10px;
	line-height: 12px;
	color: #bcbcbc;


	a {
		text-decoration: underline;
		color: #bcbcbc;


		&:hover {
			text-decoration: none;
			color: #666;
		}
	}


	@media @touch-between {
		left: 113px;
	}


	@media @mobile-portrait {
		left: 61px;
	}
}