/*
	======
	IMAGES
	======
*/
@img: '../img';

@img-patterns: '@{img}/patterns';
@img-prints: '@{img}/prints';
@img-sprites: '@{img}/sprites';
@img-stub: '@{img}/stub';
@img-thingies: '@{img}/thingies';



/*
	=====
	FONTS
	=====
*/
@fonts-path: '../fonts';




/*
	===
	SVG
	===
*/