.index-slider {
	@this-height: 449px;
	height: @this-height;
	&__inner {
		height: @this-height;
		background: transparent url('../img/stub/index_stub__460px__index-slider.jpg') center 0 no-repeat;
	}
}
.showcase {
	@this-height: 947px;
	height: @this-height;
	&__inner {
		height: @this-height;
		background: transparent url('../img/stub/index_stub__460px__showcase.jpg') center 0 no-repeat;
	}
}
.index-info {
	@this-height: 546px;
	height: @this-height;
	&__inner {
		height: @this-height;
		background: transparent url('../img/stub/index_stub__460px__index-info.jpg') center 0 no-repeat;
	}
}
.footer-all {
	@this-height: 311px;
	height: @this-height;
	&__inner {
		height: @this-height;
		background: transparent url('../img/stub/index_stub__460px__footer-all.jpg') center 0 no-repeat;
	}
}

/* .header-bottom {
	height: 10px;
} */