.pcard-order__step-3 {
	.pcard-order__content {
		height: 510px;
		background: url(@img-thingies-ribbon-1) center bottom no-repeat;
		border-top: 1px solid #e4e4e4;
	}
}



@media @mobile {
	.pcard-order__step-3 {


		.pcard-order__content {
			height: 400px;
			background: none;
		}
	}
}