.pcard-order-shops {
	height: 365px;
	width: 728px;


	&__list {
		display: block;
		width: 278px;
		height: 100%;
		margin: 0;
		padding: 0;
		.boxing(border-box);
		overflow-y: scroll;

		float: left;

		background: #f4f4f4;
	}

	&__item {
		display: block;
		width: 200px;
		padding: 7px 0 7px 42px;
		margin: 0;
		list-style: none;
		.font-circe_light(12px, 16px, #333);
		cursor: pointer;
		text-transform: uppercase;
		.set-order-sprite(20px, -162px);
		&.active,
		&:hover {
			.set-order-sprite(20px, -55px);
		}
	}
	&__map {
		float: right;
		position: relative;
		.-wh-(450px, 365px);
	}
	&__metro {
		display: none;
	}
	&__label {
		.-dn-;
		.pos-abs_tl(20px, 125px);
		text-transform: uppercase;
		.font-circe_light(14px, 28px, #b9b6b8);

		&:after {
			content: '';

			.-block-(27px, 26px);
			.-posa-tr-(1px, -103px, 5);
			.set-order-sprite(7px, -354px);
			background-color: #f4f4f4;
			.-solid-r-(#e8e8e8);
			.-brad-ab-(2px);
		}
	}
	&__select { .-dn-; }
}


@media @tablet-portrait {
	@width-inner: 300px;
	@inner-margin: 160px;

	.pcard-order-shops {
		width: 578px;


		&__list {
			width: 168px;
		}

		&__item {
			.-block-(150px, auto, 7px 0 7px 30px, 0);
			list-style: none;
			.font-circe_light(11px, 14px, #333);
			cursor: pointer;
			text-transform: uppercase;
			.set-order-sprite(9px, -162px);
			&.active,
			&:hover {
				.set-order-sprite(9px, -55px);
			}
		}

		&__map {
			width: 410px;
		}
	}
}

@media screen and (max-width:639px) {
	.pcard-order-shops {
		.-posr-;
		margin: 0 auto;

		&__list { .-dn-; }
		&__map {
			/*.-dn-;*/
			.-wh-(100%, auto);
		}
		&__label {
			.-db-;
			.-tl-(10px, 0);
			font-size: 12px;

			&:after {
				height: 48px;
				.-tl-(25px, 1px);
				.set-order-sprite(10px, -52px);
				background-color: inherit;
				border: 0;
			}
		}
		&__select {
			.-block-(100%, 50px, 0 17px 0 30px);
			.-posa-tl-(36px, 0);
			.-box-border-(#e8e8e8, 2px);
			.font-circe_light(10px, 28px, #b9b6b8);
			text-transform: uppercase;
			outline: none;
			cursor: pointer;

			padding-left: 30px;
			font-size: 14px;
			color: #333;

			&:hover,
			&:focus { .-solid-(#c93232); }
		}
	}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
	@width-inner: 400px;
	@inner-margin: 25px;

	.pcard-order-shops {
		width: @width-inner;
	}
	.pcard-order-shops__map {
		width: @width-inner;
		.-posa-ch-(@width-inner);
		top: 100px;
	}
}

@media @mobile-portrait {
	@width-inner: 280px;
	@inner-margin: 20px;

	.pcard-order-shops {
		width: @width-inner;
	}
	.pcard-order-shops__map {
		width: @width-inner;
		.-posa-ch-(@width-inner);
		top: 100px;
	}
}