.pcard-order-promo {

	b {
		display: block;

		text-transform: uppercase;
		text-align: center;
		font: 400 20px/32px 'Circe';
		color: #333;
	}

	cite {
		display: block;

		text-transform: uppercase;
		font: 400 10px/12px 'Circe';
		color: #999;
	}

	.form-label {
		display: block;

		text-transform: uppercase;
		font: 300 14px/25px Circe;
		color: #666;
	}

	.form-textline {
		height: 33px;
	}
}

.pcard-promo-code-form {
	width: 210px;
}

.pcard-bonus-card-form {
	width: 210px;
}


.pcard-order-promo-total {}



.order-button-to-getshop {
	height: 38px;
	width: 208px;
}


@media @mobile {
	.pcard-order-promo {
		/*height: 490px;*/

		padding-bottom: 80px;


		b {
			margin-top: 40px;

			font-size: 18px;
			line-height: 22px;
		}


		.form-textline {
			width: 284px;
			height: 48px;
		}


		cite {
			width: 265px;
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.pcard-bonus-card-form,
	.pcard-promo-code-form {
		width: 286px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	.order-button-to-getshop {
		position: absolute;
		bottom: 0;

		width: 100%;
		height: 60px;
		border-radius: 0;

		line-height: 60px;
	}
}
