.bonuses-card-add-form {
	position: absolute;
	top: 42px;
	left: 200px;

	display: block;
	width: 200px;
	height: 30px;



	@media @mobile-portrait {
		left: 0;
		top: 58px;

		width: 200px;
	}



	@media @mobile-album {
		left: 0px;
		top: 66px;
	}



	@media @tablet-portrait {
		left: 26px;
		top: 66px;
	}



	@media @tablet-album {
		left: 0;
		top: 66px;
	}
}