.bonuses-card-add-button {
	position: absolute;
	top: 1px;
	right: 1px;

	width: 30px;
	height: 28px;

	box-shadow: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 1px;
	border-top-right-radius: 1px;

	line-height: 30px;
	font-size: 25px;
}