.ya-site-form {


	&__input-text {


		@media @desktop {
			width: 160px !important;
		}



		
	}
}



// установка цвета текста 
// для плэйсхолдера в яндекс-поиске 
// в навигации сайта
.ya-site-form__input-text::-webkit-input-placeholder {
	color: #999 !important;
}

.ya-site-form__input-text::-moz-placeholder { /* Firefox 19+ */
	color: #999 !important;
}

.ya-site-form__input-text:-ms-input-placeholder {
	color: #999 !important;
}

.ya-site-form__input-text:-moz-placeholder { /* Firefox 18- */
	color: #999 !important;
}