@font-face {
  font-family: 'Helvetica Light';
  src: url('fonts/helveticaneuecyr-light.eot');
  src: local('☺'),
  url('fonts/helveticaneuecyr-light.eot#iefix') format('embedded-opentype'),
  url('fonts/helveticaneuecyr-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Roman';
  src: url('fonts/helveticaneuecyr-roman.eot');
  src: local('☺'),
  url('fonts/helveticaneuecyr-roman.eot#iefix') format('embedded-opentype'),
  url('fonts/helveticaneuecyr-roman.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Bold';
  src: url('fonts/helveticaneuecyr-bold.eot');
  src: local('☺'),
  url('fonts/helveticaneuecyr-bold.eot#iefix') format('embedded-opentype'),
  url('fonts/helveticaneuecyr-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica LightItalic';
  src: url('fonts/helveticaneuecyr-lightitalic.eot');
  src: local('☺'),
  url('fonts/helveticaneuecyr-lightitalic.eot#iefix') format('embedded-opentype'),
  url('fonts/helveticaneuecyr-lightitalic.otf') format('opentype'),
  url('fonts/helveticaneuecyr-lightitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Rubl';
  src: url('fonts/rouble-webfont.eot');
  src: url('fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/rouble-webfont.woff2') format('woff2'),
         url('fonts/rouble-webfont.woff') format('woff'),
         url('fonts/rouble-webfont.ttf') format('truetype'),
         url('fonts/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
font-family: 'Futura Book';
  src: url('fonts/futurabookc.eot');
  src: local('☺'),
  url('fonts/futurabookc.eot#iefix') format('embedded-opentype'),
  url('fonts/futurabookc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Light';
  src: url('fonts/futuralightc.eot');
  src: local('☺'),
  url('fonts/futuralightc.eot#iefix') format('embedded-opentype'),
  url('fonts/futuralightc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'Circe-Regular';
src: url('fonts/Circe-Regular.eot');
src: local('Circe-Regular'), url('fonts/Circe-Regular.woff') format('woff'), url('fonts/Circe-Regular.ttf') format('truetype'), url('fonts/Circe-Regular.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Circe-ExtraBold';
src: url('fonts/Circe-ExtraBold.eot');
src: local('Circe-ExtraBold'), url('fonts/Circe-ExtraBold.woff') format('woff'), url('fonts/Circe-ExtraBold.ttf') format('truetype'), url('fonts/Circe-ExtraBold.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'Circe-Bold';
  src: url('fonts/Circe-Bold.eot');
  src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Circe-Bold.woff2') format('woff2'),
       url('fonts/Circe-Bold.woff') format('woff'),
       url('fonts/Circe-Bold.ttf') format('truetype'),
       url('fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe-Light';
  src: url('fonts/Circe-Light.eot');
  src: url('fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Circe-Light.woff2') format('woff2'),
       url('fonts/Circe-Light.woff') format('woff'),
       url('fonts/Circe-Light.ttf') format('truetype'),
       url('fonts/Circe-Light.svg#Circe-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Rounded';
  src: url('fonts/CirceRounded Regular.eot');
  src: url('fonts/CirceRounded Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/CirceRounded Regular.woff') format('woff'),
       url('fonts/CirceRounded Regular.ttf')  format('truetype'),
       url('fonts/CirceRounded Regular.svg') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}
