.filter-reset {
	width: 180px;
	height: 30px;
	margin: 15px 7px 20px 7px;
	padding: 0 5px;

	background-color: #fdfdfd;
	border: 1px solid #f0f0f0;

	.font-circe_regular(12px, 32px, #888);


	&:hover {
		background-color: #ed3030;
		border: 1px solid #ed3030;
		color: #fff;
	}
}

.filter-submit {
	width: 180px;
	height: 30px;
	margin: 15px 7px 20px 7px;
	padding: 0 5px;
	.font-circe_regular(12px, 34px, #fff);
}